#Command to run local server:

jupyter notebook --no-browser --allow-root --NotebookApp.allow_origin='https://colab.research.google.com' --NotebookApp.token=''  --NotebookApp.disable_check_xsrf=True


the above is the comand line to connect to local host when starting a jupyter notebook (remember to be in the corrent directory)

#UPLOAD DATA:

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.utils import np_utils
from sklearn.preprocessing import OneHotEncoder

In [32]:
cd /mnt/c/Users/mansi/Desktop/High\ School/senior/Applied\ AI/Loan\ data/lending\ club\ data

/mnt/c/Users/mansi/Desktop/High School/senior/Applied AI/Loan data/lending club data

In [33]:
ls

desktop.ini*                                 LoanStats_LendingClub_2016Q4.csv*
LCDataDictionary.xlsx*                       LoanStats_LendingClub_2017Q1.csv*
LoanStats3a_securev1_LendingClub_07-11.csv*  LoanStats_LendingClub_2017Q2.csv*
LoanStats3b_securev1_LendingClub_12-13.csv*  LoanStats_LendingClub_2017Q3.csv*
LoanStats3c_LendingClub_2014.csv*            LoanStats_LendingClub_2017Q4.csv*
LoanStats3d_LendingClub_2015.csv*            LoanStats_LendingClub_2018Q1.csv*
LoanStats_LendingClub_2016Q1.csv*            LoanStats_LendingClub_2018Q2.csv*
LoanStats_LendingClub_2016Q2.csv*            LoanStats_LendingClub_2018Q3.csv*
LoanStats_LendingClub_2016Q3.csv*            RejectStatsA.csv*

In [34]:
#for host run time
'''from google.colab import drive
drive.mount('/content/drive')'''

"from google.colab import drive\ndrive.mount('/content/drive')"

In [35]:
#for host run time
'''#!pwd
%cd drive/My\ Drive
%cd Colab\ Notebooks
%cd Loan\ Project
# we are in the "Loan Project directory" - if there is an issue use "%cd ... to reenter directory"
#!ls
#!cat LoanStats3a_securev1_LendingClub_07-11.csv'''

'#!pwd\n%cd drive/My\\ Drive\n%cd Colab\\ Notebooks\n%cd Loan\\ Project\n# we are in the "Loan Project directory" - if there is an issue use "%cd ... to reenter directory"\n#!ls\n#!cat LoanStats3a_securev1_LendingClub_07-11.csv'

In [36]:
#data is from Lending Club - I have renamed csv files
df_07_11 = pd.read_csv('LoanStats3a_securev1_LendingClub_07-11.csv', sep=",", skiprows=1)
df_12_13 = pd.read_csv('LoanStats3b_securev1_LendingClub_12-13.csv', sep=",", skiprows=1)
df_14 = pd.read_csv("LoanStats3c_LendingClub_2014.csv", sep=",", skiprows=1)
df_15 = pd.read_csv('LoanStats3d_LendingClub_2015.csv', sep=",", skiprows=1)
df_16Q1 = pd.read_csv('LoanStats_LendingClub_2016Q1.csv', sep=",", skiprows=1)
df_16Q2 = pd.read_csv('LoanStats_LendingClub_2016Q2.csv', sep=",", skiprows=1)
df_16Q3 = pd.read_csv('LoanStats_LendingClub_2016Q3.csv', sep=",", skiprows=1)
df_16Q4 = pd.read_csv('LoanStats_LendingClub_2016Q4.csv', sep=",", skiprows=1)
df_17Q1 = pd.read_csv('LoanStats_LendingClub_2017Q1.csv', sep=",", skiprows=1)
df_17Q2 = pd.read_csv('LoanStats_LendingClub_2017Q2.csv', sep=",", skiprows=1)
df_17Q3 = pd.read_csv('LoanStats_LendingClub_2017Q3.csv', sep=",", skiprows=1)
df_17Q4 = pd.read_csv('LoanStats_LendingClub_2017Q4.csv', sep=",", skiprows=1)
df_18Q1 = pd.read_csv('LoanStats_LendingClub_2018Q1.csv', sep=",", skiprows=1)
df_18Q2 = pd.read_csv('LoanStats_LendingClub_2018Q2.csv', sep=",", skiprows=1)
df_18Q3 = pd.read_csv('LoanStats_LendingClub_2018Q3.csv', sep=",", skiprows=1)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,49,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,112) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#PROCESS THE DATA:

In [37]:
frames = [df_07_11, df_12_13, df_14, df_15, df_16Q1, df_16Q2, df_16Q3, df_16Q4, df_17Q1, df_17Q2, df_17Q3, df_17Q4, df_18Q1,df_18Q2,df_18Q3]

result = pd.concat(frames, ignore_index=True)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
#shuffle enties - if you use dates at some point, dont shuffle
result = result.reindex(np.random.permutation(result.index)) #for now we arn't using data, so we shuffle
result.shape

(2132289, 151)

In [39]:
result.drop(columns=['id', 'member_id','url','zip_code', 'issue_d'], inplace=True)
result.shape

(2132289, 146)

In [40]:
'''
#"loan_status" is the column heading of whether it defulted or not
x = result.copy()
#labels = df.loc[:,"loan_status"]
y = result['loan_status'].copy()
y.shape[0]
'''
#the above code is implemented later, and thus is useless

2132289

In [41]:
label = []
for i in range(y.shape[0]):
  if y[i] not in label:
    label.append(y[i])

for i in range(len(label)):
  print(label[i])
  
print("There are", len(label), "labels")

Fully Paid
Charged Off
nan
Does not meet the credit policy. Status:Fully Paid
Does not meet the credit policy. Status:Charged Off
Late (31-120 days)
Current
Late (16-30 days)
In Grace Period
Default
There are 10 labels

##NOTES about loan_status (aka. labels):


*   if label is "nan" - we throw that loan out of the training set
*   Current means that the loan is still being paid off, and therefore we cannot use for out training - might be useful to comeback and revisit in the future (maybe predict outcome now) - will be thrown out of training set
*   fully paid  - successful loan


---


*   what is "charged off" vs "default"
 *   "Loans that are in "Default" are loans for which borrowers have failed to make payments for an extended period of time. A loan becomes “Charged Off” when there is no longer a reasonable expectation of further payments.  Charge Off typically occurs when a loan is 120 days or more past due and there is no reasonable expectation of sufficient payment to prevent the charge off.  In certain circumstances, loans may be charged off at an earlier or later date.  Please note, loans for which borrowers have filed for bankruptcy may be charged off earlier based on the date of bankruptcy notification.
 A loan that is in “Default” will still appear in your Notes, in the status of “Default,” while a loan that has been “Charged Off” will appear as charged off, and the remaining principal balance of the Note will be deducted from your account balance.  Learn more about what happens when a loan is charged off"
 *   Because in the case of "charged off" vs "default" the lender has extremely low chance of recovering their investment, we will treat both of these classifications as if they are the same thing

---


*   what does it mean if it "does not meet the credit policy"
 *   Lending Club doesn't make clear the meaning of this statement, but from general internet research most ppl just ommit the "does not meet the credit policy" part and use the second half of the classification
---
*   what does "grace period" mean - should we potentially throw those away?
 * Loan is past due but within the 15-day grace period. - we will throw these away because for training data it isn't useful since the final status of loan isn't avaliable
*   if its late - does that mean status is still being finalized? - should we throw away?
 * if it is late we don't use this loan in training set cus finalized status isn't avalible to confirm predictions

In [42]:
result = result[~result['loan_status'].isin(['Late (31-120 days)', 'Current', 'Late (16-30 days)', 'In Grace Period'])]
# above gets rid of rows that have loan status' that we don't want to consider
result = result[~result['loan_status'].isna()] 

#make labels binary
pay_status = {'Fully Paid':1, 'Charged Off':0, 'Does not meet the credit policy. Status:Fully Paid':1, 'Does not meet the credit policy. Status:Charged Off':0, 'Default':0}
result.loan_status = [pay_status[item] for item in result.loan_status]


# above gets rid of rows that don't have a valid loan status
result.shape

(1201050, 146)

In [43]:
#DROPPING instances of larger ("paid") class - didn't show much effect
#result = result.drop(result[result.loan_status.eq(1)].sample(frac=.75).index)
result.shape

(1201050, 146)

In [44]:
#"loan_status" is the column heading of whether it defulted or not
x = result.copy()


#labels = df.loc[:,"loan_status"]
y = result['loan_status'].copy()
#get rid of labels from test set
x.drop(columns=['loan_status'], inplace=True) 

#for now, we are gonna drop all columns that have even one NAN value - this signifigantly reduces training data (so its something we want to comeback and deal with later)
x.dropna(axis='columns', inplace=True)
print(list(x))

#y #can print out labels
print(x.shape)
x

['addr_state', 'application_type', 'collection_recovery_fee', 'debt_settlement_flag', 'disbursement_method', 'funded_amnt', 'funded_amnt_inv', 'grade', 'hardship_flag', 'home_ownership', 'initial_list_status', 'installment', 'int_rate', 'last_pymnt_amnt', 'loan_amnt', 'out_prncp', 'out_prncp_inv', 'policy_code', 'purpose', 'pymnt_plan', 'recoveries', 'revol_bal', 'sub_grade', 'term', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'verification_status']
(1201050, 30)

,addr_state,application_type,collection_recovery_fee,debt_settlement_flag,disbursement_method,funded_amnt,funded_amnt_inv,grade,hardship_flag,home_ownership,...,recoveries,revol_bal,sub_grade,term,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,verification_status
783788,TN,Individual,1440.0000,Y,Cash,13600.0,13600.00000,E,N,MORTGAGE,...,8000.00,7278.0,E3,60 months,12964.300000,12964.30,2853.49,0.00,2110.81,Source Verified
661671,WA,Individual,0.0000,N,Cash,4000.0,4000.00000,C,N,RENT,...,0.00,12333.0,C4,36 months,4444.920000,4444.92,444.92,0.00,4000.00,Not Verified
1293389,MO,Individual,0.0000,N,Cash,2975.0,2975.00000,D,N,MORTGAGE,...,0.00,44512.0,D5,36 months,1234.140000,1234.14,517.02,0.00,717.12,Source Verified
717904,TX,Individual,0.0000,N,Cash,9600.0,9600.00000,D,N,RENT,...,0.00,18367.0,D1,36 months,12171.123819,12171.12,2554.34,16.78,9600.00,Verified
516267,AL,Individual,0.0000,N,Cash,2500.0,2500.00000,B,N,MORTGAGE,...,0.00,6024.0,B2,36 months,2853.533742,2853.53,353.53,0.00,2500.00,Verified
1501243,PA,Individual,0.0000,N,Cash,15000.0,15000.00000,B,N,MORTGAGE,...,0.00,16881.0,B1,36 months,15841.338803,15841.34,841.34,0.00,15000.00,Not Verified
561684,MO,Individual,0.0000,N,Cash,15000.0,15000.00000,A,N,RENT,...,0.00,7449.0,A1,36 months,16203.118382,16203.12,1203.12,0.00,15000.00,Not Verified
730882,WI,Individual,209.7198,N,Cash,12000.0,12000.00000,B,N,MORTGAGE,...,1165.11,17937.0,B1,36 months,3424.620000,3424.62,457.61,0.00,1801.90,Not Verified
1202807,CA,Individual,655.0038,Y,Cash,33600.0,33350.00000,F,N,RENT,...,3638.91,5591.0,F2,60 months,10650.400000,10571.16,4961.32,0.00,2050.17,Source Verified
1956927,IL,Joint App,0.0000,N,Cash,30000.0,30000.00000,B,N,MORTGAGE,...,0.00,9558.0,B2,36 months,30026.043333,30026.04,26.04,0.00,30000.00,Source Verified
1197470,MD,Individual,0.0000,N,Cash,7500.0,7500.00000,C,N,RENT,...,0.00,8321.0,C1,36 months,8787.070821,8787.07,1287.07,0.00,7500.00,Source Verified
107937,CA,Individual,0.0000,N,Cash,15000.0,14925.00000,B,N,MORTGAGE,...,0.00,43565.0,B1,60 months,17387.500016,17300.56,2387.50,0.00,15000.00,Verified
533625,AZ,Individual,0.0000,N,Cash,4350.0,4350.00000,B,N,MORTGAGE,...,0.00,4359.0,B4,36 months,5122.115463,5122.12,772.12,0.00,4350.00,Source Verified
782516,TN,Individual,0.0000,N,Cash,12950.0,12950.00000,E,N,MORTGAGE,...,0.00,8331.0,E3,60 months,13083.420000,13083.42,133.42,0.00,12950.00,Not Verified
1621319,NY,Individual,0.0000,N,Cash,20800.0,20800.00000,B,N,OWN,...,0.00,16311.0,B4,36 months,23050.045540,23050.05,2250.05,0.00,20800.00,Verified
898029,TX,Individual,0.0000,N,Cash,12200.0,12200.00000,C,N,MORTGAGE,...,0.00,31260.0,C3,36 months,13358.974550,13358.97,1158.97,0.00,12200.00,Verified
845279,AZ,Individual,0.0000,N,Cash,24650.0,24650.00000,C,N,MORTGAGE,...,0.00,5724.0,C1,36 months,29552.435248,29552.44,4902.44,0.00,24650.00,Source Verified
534152,CO,Individual,0.0000,N,Cash,24000.0,24000.00000,A,N,MORTGAGE,...,0.00,116312.0,A1,36 months,24602.821723,24602.82,602.82,0.00,24000.00,Source Verified
59707,WI,Individual,0.0000,N,Cash,12000.0,12000.00000,B,N,MORTGAGE,...,0.00,15221.0,B3,36 months,14346.479057,14346.48,2346.48,0.00,12000.00,Source Verified
962872,NC,Individual,558.3600,Y,Cash,15000.0,14950.00000,D,N,MORTGAGE,...,3102.00,11595.0,D1,60 months,8227.680000,8200.25,2624.03,0.00,2501.65,Source Verified
1240991,SC,Joint App,56.4228,N,Cash,2000.0,2000.00000,D,N,RENT,...,313.46,7292.0,D1,36 months,1225.750000,1225.75,303.48,0.00,608.81,Verified
2001134,PA,Joint App,0.0000,N,Cash,18000.0,18000.00000,A,N,MORTGAGE,...,0.00,28199.0,A5,36 months,18020.497000,18020.50,20.50,0.00,18000.00,Not Verified
769446,WI,Individual,0.0000,N,Cash,12500.0,12500.00000,A,N,MORTGAGE,...,0.00,12203.0,A5,36 months,13927.906734,13927.91,1427.91,0.00,12500.00,Source Verified
489132,OH,Individual,0.0000,N,Cash,1600.0,1600.00000,B,N,OWN,...,0.00,894.0,B3,36 months,1701.079100,1701.08,101.08,0.00,1600.00,Source Verified
1286679,IN,Individual,0.0000,N,Cash,4800.0,4800.00000,B,N,RENT,...,0.00,16339.0,B2,36 months,2181.060000,2181.06,490.68,0.00,1690.38,Source Verified
21714,NJ,Individual,0.0000,N,Cash,10000.0,9975.00000,A,N,RENT,...,0.00,11511.0,A5,36 months,10373.612906,10347.67,373.61,0.00,10000.00,Verified
563518,MD,Individual,0.0000,N,Cash,23000.0,23000.00000,A,N,RENT,...,0.00,13769.0,A3,36 months,25515.802162,25515.80,2515.80,0.00,23000.00,Verified
359562,OH,Individual,0.0000,N,Cash,7550.0,7550.00000,C,N,MORTGAGE,...,0.00,17524.0,C3,36 months,9311.076896,9311.08,1761.08,0.00,7550.00,Not Verified
1077454,NE,Individual,0.0000,N,Cash,12225.0,12225.00000,F,N,RENT,...,0.00,1819.0,F2,60 months,15121.807135,15121.81,2896.81,0.00,12225.00,Verified
563222,TX,Individual,0.0000,N,Cash,20000.0,20000.00000,C,N,RENT,...,0.00,29525.0,C4,36 months,22794.210000,22794.21,2794.21,0.00,20000.00,Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1489468,NY,Individual,0.0000,N,Cash,10000.0,10000.00000,G,N,MORTGAGE,...,0.00,2993.0,G2,60 months,13054.100086,13054.10,3054.10,0.00,10000.00,Not Verified
1049053,FL,Individual,0.0000,N,Cash,16500.0,16500.00000,A,N,RENT,...,0.00,7701.0,A5,36 months,17654.572659,17654.57,1154.57,0.00,16500.00,Source Verified
1719377,MI,Individual,0.0000,N,Cash,12000.0,12000.00000,C,N,OWN,...,0.00,8746.0,C4,60 months,2276.370000,2276.37,1145.25,0.00,1131.12,Not Verified
291711,NY,Individual,0.0000,N,Cash,35000.0,35000.00000,C,N,RENT,...,0.00,4693.0,C3,36 months,43138.711162,43138.71,8078.92,59.79,35000.00,Verified
2080860,TX,Individual,0.0000,N,Cash,8000.0,8000.00000,D,N,RENT,...,0.00,7843.0,D1,36 months,8209.530610,8209.53,209.53,0.00,8000.00,Source Verified
1670459,TX,Individual,0.0000,N,Cash,15000.0,15000.00000,D,N,OWN,...,0.00,12130.0,D2,60 months,16005.527768,16005.53,1005.53,0.00,15000.00,Not Verified
721094,MA,Individual,0.0000,N,Cash,20000.0,20000.00000,B,N,RENT,...,0.00,14280.0,B5,36 months,22710.290325,22710.29,2710.29,0.00,20000.00,Source Verified
320822,MN,Individual,0.0000,N,Cash,10000.0,10000.00000,C,N,RENT,...,0.00,13010.0,C2,36 months,12190.583643,12190.58,2190.58,0.00,10000.00,Verified
1730876,MD,Joint App,0.0000,N,Cash,35000.0,35000.00000,A,N,MORTGAGE,...,0.00,3625.0,A5,60 months,36650.154374,36650.15,1650.15,0.00,35000.00,Verified
126491,TX,Individual,0.0000,N,Cash,10000.0,10000.00000,B,N,MORTGAGE,...,0.00,3470.0,B3,36 months,11953.580000,11953.58,1953.58,0.00,10000.00,Verified
130663,SC,Individual,0.0000,N,Cash,5000.0,5000.00000,A,N,MORTGAGE,...,0.00,6951.0,A1,36 months,5368.760000,5368.76,368.76,0.00,5000.00,Source Verified
309567,IL,Individual,0.0000,N,Cash,24000.0,24000.00000,B,N,MORTGAGE,...,0.00,25097.0,B5,36 months,28899.728637,28899.73,4899.73,0.00,24000.00,Source Verified
918680,MA,Individual,0.0000,N,Cash,25000.0,25000.00000,A,N,MORTGAGE,...,0.00,52640.0,A1,36 months,26281.208210,26281.21,1281.21,0.00,25000.00,Source Verified
512042,CO,Individual,0.0000,N,Cash,14000.0,14000.00000,B,N,RENT,...,0.00,15301.0,B3,36 months,15332.008155,15332.01,1332.01,0.00,14000.00,Source Verified
1383115,OR,Individual,0.0000,N,Cash,10000.0,10000.00000,A,N,MORTGAGE,...,0.00,5119.0,A1,36 months,10279.962173,10279.96,279.96,0.00,10000.00,Not Verified
1233544,SC,Individual,0.0000,N,Cash,28425.0,28425.00000,C,N,MORTGAGE,...,0.00,5895.0,C5,60 months,11057.450000,11057.45,5542.34,0.00,5515.11,Not Verified
157548,TN,Individual,0.0000,N,Cash,16000.0,15975.00000,B,N,MORTGAGE,...,0.00,15983.0,B3,36 months,17656.082450,17628.49,1656.08,0.00,16000.00,Not Verified
1405526,FL,Individual,0.0000,N,Cash,4000.0,4000.00000,D,N,MORTGAGE,...,0.00,22182.0,D5,36 months,4884.934452,4884.93,884.93,0.00,4000.00,Source Verified
1104932,MI,Individual,0.0000,N,Cash,20000.0,20000.00000,B,N,OWN,...,0.00,11533.0,B1,36 months,22599.590780,22599.59,2599.59,0.00,20000.00,Not Verified
434666,NC,Individual,0.0000,N,Cash,24350.0,24350.00000,D,N,MORTGAGE,...,0.00,24720.0,D3,60 months,36485.097653,36485.10,12135.10,0.00,24350.00,Source Verified
631054,NY,Individual,0.0000,N,Cash,4000.0,4000.00000,D,N,RENT,...,0.00,317.0,D1,36 months,4036.430000,4036.43,36.43,0.00,4000.00,Source Verified
691358,SC,Individual,0.0000,N,Cash,7200.0,7200.00000,A,N,MORTGAGE,...,0.00,22450.0,A2,36 months,7863.451243,7863.45,663.45,0.00,7200.00,Verified
35302,CT,Individual,0.0000,N,Cash,20000.0,19707.24552,B,N,RENT,...,0.00,33184.0,B2,36 months,23737.279130,23379.81,3737.28,0.00,20000.00,Not Verified
560145,NC,Individual,0.0000,N,Cash,15000.0,15000.00000,C,N,MORTGAGE,...,0.00,481.0,C3,60 months,18722.821780,18722.82,3722.82,0.00,15000.00,Source Verified
540028,TX,Individual,0.0000,N,Cash,5000.0,5000.00000,B,N,RENT,...,0.00,4266.0,B5,36 months,5840.920615,5840.92,840.92,0.00,5000.00,Source Verified
570677,SC,Individual,828.0000,N,Cash,35000.0,35000.00000,B,N,MORTGAGE,...,4600.00,126866.0,B4,36 months,35717.040000,35717.04,5777.33,171.84,25167.87,Verified
651641,FL,Individual,257.6718,N,Cash,10075.0,10075.00000,E,N,RENT,...,1431.51,8537.0,E3,60 months,2732.820000,2732.82,778.38,0.00,522.93,Verified
573603,PA,Individual,0.0000,N,Cash,12500.0,12500.00000,B,N,RENT,...,0.00,471050.0,B4,36 months,14511.653049,14511.65,2011.65,0.00,12500.00,Verified
949973,WI,Individual,0.0000,N,Cash,11200.0,11200.00000,D,N,MORTGAGE,...,0.00,9733.0,D3,60 months,5993.380000,5993.38,3158.29,0.00,2835.09,Source Verified
606141,MD,Individual,281.8566,N,Cash,20700.0,20700.00000,C,N,RENT,...,1565.87,17190.0,C4,36 months,14362.250000,14362.25,3525.59,0.00,9270.79,Not Verified

In [0]:
x['term'] = x['term'].map(lambda x: x.lstrip('%').rstrip('months'))
x['int_rate'] = x["int_rate"].map(lambda x: x.rstrip("%"))
int_rate = x['int_rate'].str.replace(' ', '')
#x['revol_util'] = x['revol_util'].str.replace('%', '') #format changes bc column as floats and ints, also has NaN values, so it was removed above
#print(x["revol_util"])
x.drop(columns=['int_rate'], inplace=True)

In [46]:
int_rate

783788     19.52
661671     13.99
1293389    21.49
717904     15.61
516267      9.17
1501243     8.24
561684      5.32
730882      8.18
1202807    26.49
1956927     9.92
1197470    12.79
107937      9.71
533625     10.99
782516     19.52
1621319    10.91
898029     13.67
845279     12.39
534152      5.32
59707      11.99
962872     16.29
1240991    16.99
2001134     7.96
769446      7.89
489132      9.76
1286679    10.49
21714       6.91
563518      6.89
359562     13.98
1077454    25.44
563222     13.99
           ...
1489468    30.84
1049053     7.89
1719377    15.05
291711     13.98
2080860    17.97
1670459    18.06
721094     11.53
320822     13.35
1730876     7.97
126491     12.12
130663      6.03
309567     12.49
918680      5.32
512042      9.99
1383115     5.32
1233544    15.99
157548     12.12
1405526    21.49
1104932     8.39
434666     18.25
631054     15.61
691358      6.24
35302      11.48
560145     13.33
540028     11.49
570677     10.99
651641     19.19
573603     10.99
949973     18.25
606141     13.99
Name: int_rate, Length: 1201050, dtype: object

In [47]:
#print(x['int_rate'])
x

,addr_state,application_type,collection_recovery_fee,debt_settlement_flag,disbursement_method,funded_amnt,funded_amnt_inv,grade,hardship_flag,home_ownership,...,recoveries,revol_bal,sub_grade,term,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,verification_status
783788,TN,Individual,1440.0000,Y,Cash,13600.0,13600.00000,E,N,MORTGAGE,...,8000.00,7278.0,E3,60,12964.300000,12964.30,2853.49,0.00,2110.81,Source Verified
661671,WA,Individual,0.0000,N,Cash,4000.0,4000.00000,C,N,RENT,...,0.00,12333.0,C4,36,4444.920000,4444.92,444.92,0.00,4000.00,Not Verified
1293389,MO,Individual,0.0000,N,Cash,2975.0,2975.00000,D,N,MORTGAGE,...,0.00,44512.0,D5,36,1234.140000,1234.14,517.02,0.00,717.12,Source Verified
717904,TX,Individual,0.0000,N,Cash,9600.0,9600.00000,D,N,RENT,...,0.00,18367.0,D1,36,12171.123819,12171.12,2554.34,16.78,9600.00,Verified
516267,AL,Individual,0.0000,N,Cash,2500.0,2500.00000,B,N,MORTGAGE,...,0.00,6024.0,B2,36,2853.533742,2853.53,353.53,0.00,2500.00,Verified
1501243,PA,Individual,0.0000,N,Cash,15000.0,15000.00000,B,N,MORTGAGE,...,0.00,16881.0,B1,36,15841.338803,15841.34,841.34,0.00,15000.00,Not Verified
561684,MO,Individual,0.0000,N,Cash,15000.0,15000.00000,A,N,RENT,...,0.00,7449.0,A1,36,16203.118382,16203.12,1203.12,0.00,15000.00,Not Verified
730882,WI,Individual,209.7198,N,Cash,12000.0,12000.00000,B,N,MORTGAGE,...,1165.11,17937.0,B1,36,3424.620000,3424.62,457.61,0.00,1801.90,Not Verified
1202807,CA,Individual,655.0038,Y,Cash,33600.0,33350.00000,F,N,RENT,...,3638.91,5591.0,F2,60,10650.400000,10571.16,4961.32,0.00,2050.17,Source Verified
1956927,IL,Joint App,0.0000,N,Cash,30000.0,30000.00000,B,N,MORTGAGE,...,0.00,9558.0,B2,36,30026.043333,30026.04,26.04,0.00,30000.00,Source Verified
1197470,MD,Individual,0.0000,N,Cash,7500.0,7500.00000,C,N,RENT,...,0.00,8321.0,C1,36,8787.070821,8787.07,1287.07,0.00,7500.00,Source Verified
107937,CA,Individual,0.0000,N,Cash,15000.0,14925.00000,B,N,MORTGAGE,...,0.00,43565.0,B1,60,17387.500016,17300.56,2387.50,0.00,15000.00,Verified
533625,AZ,Individual,0.0000,N,Cash,4350.0,4350.00000,B,N,MORTGAGE,...,0.00,4359.0,B4,36,5122.115463,5122.12,772.12,0.00,4350.00,Source Verified
782516,TN,Individual,0.0000,N,Cash,12950.0,12950.00000,E,N,MORTGAGE,...,0.00,8331.0,E3,60,13083.420000,13083.42,133.42,0.00,12950.00,Not Verified
1621319,NY,Individual,0.0000,N,Cash,20800.0,20800.00000,B,N,OWN,...,0.00,16311.0,B4,36,23050.045540,23050.05,2250.05,0.00,20800.00,Verified
898029,TX,Individual,0.0000,N,Cash,12200.0,12200.00000,C,N,MORTGAGE,...,0.00,31260.0,C3,36,13358.974550,13358.97,1158.97,0.00,12200.00,Verified
845279,AZ,Individual,0.0000,N,Cash,24650.0,24650.00000,C,N,MORTGAGE,...,0.00,5724.0,C1,36,29552.435248,29552.44,4902.44,0.00,24650.00,Source Verified
534152,CO,Individual,0.0000,N,Cash,24000.0,24000.00000,A,N,MORTGAGE,...,0.00,116312.0,A1,36,24602.821723,24602.82,602.82,0.00,24000.00,Source Verified
59707,WI,Individual,0.0000,N,Cash,12000.0,12000.00000,B,N,MORTGAGE,...,0.00,15221.0,B3,36,14346.479057,14346.48,2346.48,0.00,12000.00,Source Verified
962872,NC,Individual,558.3600,Y,Cash,15000.0,14950.00000,D,N,MORTGAGE,...,3102.00,11595.0,D1,60,8227.680000,8200.25,2624.03,0.00,2501.65,Source Verified
1240991,SC,Joint App,56.4228,N,Cash,2000.0,2000.00000,D,N,RENT,...,313.46,7292.0,D1,36,1225.750000,1225.75,303.48,0.00,608.81,Verified
2001134,PA,Joint App,0.0000,N,Cash,18000.0,18000.00000,A,N,MORTGAGE,...,0.00,28199.0,A5,36,18020.497000,18020.50,20.50,0.00,18000.00,Not Verified
769446,WI,Individual,0.0000,N,Cash,12500.0,12500.00000,A,N,MORTGAGE,...,0.00,12203.0,A5,36,13927.906734,13927.91,1427.91,0.00,12500.00,Source Verified
489132,OH,Individual,0.0000,N,Cash,1600.0,1600.00000,B,N,OWN,...,0.00,894.0,B3,36,1701.079100,1701.08,101.08,0.00,1600.00,Source Verified
1286679,IN,Individual,0.0000,N,Cash,4800.0,4800.00000,B,N,RENT,...,0.00,16339.0,B2,36,2181.060000,2181.06,490.68,0.00,1690.38,Source Verified
21714,NJ,Individual,0.0000,N,Cash,10000.0,9975.00000,A,N,RENT,...,0.00,11511.0,A5,36,10373.612906,10347.67,373.61,0.00,10000.00,Verified
563518,MD,Individual,0.0000,N,Cash,23000.0,23000.00000,A,N,RENT,...,0.00,13769.0,A3,36,25515.802162,25515.80,2515.80,0.00,23000.00,Verified
359562,OH,Individual,0.0000,N,Cash,7550.0,7550.00000,C,N,MORTGAGE,...,0.00,17524.0,C3,36,9311.076896,9311.08,1761.08,0.00,7550.00,Not Verified
1077454,NE,Individual,0.0000,N,Cash,12225.0,12225.00000,F,N,RENT,...,0.00,1819.0,F2,60,15121.807135,15121.81,2896.81,0.00,12225.00,Verified
563222,TX,Individual,0.0000,N,Cash,20000.0,20000.00000,C,N,RENT,...,0.00,29525.0,C4,36,22794.210000,22794.21,2794.21,0.00,20000.00,Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1489468,NY,Individual,0.0000,N,Cash,10000.0,10000.00000,G,N,MORTGAGE,...,0.00,2993.0,G2,60,13054.100086,13054.10,3054.10,0.00,10000.00,Not Verified
1049053,FL,Individual,0.0000,N,Cash,16500.0,16500.00000,A,N,RENT,...,0.00,7701.0,A5,36,17654.572659,17654.57,1154.57,0.00,16500.00,Source Verified
1719377,MI,Individual,0.0000,N,Cash,12000.0,12000.00000,C,N,OWN,...,0.00,8746.0,C4,60,2276.370000,2276.37,1145.25,0.00,1131.12,Not Verified
291711,NY,Individual,0.0000,N,Cash,35000.0,35000.00000,C,N,RENT,...,0.00,4693.0,C3,36,43138.711162,43138.71,8078.92,59.79,35000.00,Verified
2080860,TX,Individual,0.0000,N,Cash,8000.0,8000.00000,D,N,RENT,...,0.00,7843.0,D1,36,8209.530610,8209.53,209.53,0.00,8000.00,Source Verified
1670459,TX,Individual,0.0000,N,Cash,15000.0,15000.00000,D,N,OWN,...,0.00,12130.0,D2,60,16005.527768,16005.53,1005.53,0.00,15000.00,Not Verified
721094,MA,Individual,0.0000,N,Cash,20000.0,20000.00000,B,N,RENT,...,0.00,14280.0,B5,36,22710.290325,22710.29,2710.29,0.00,20000.00,Source Verified
320822,MN,Individual,0.0000,N,Cash,10000.0,10000.00000,C,N,RENT,...,0.00,13010.0,C2,36,12190.583643,12190.58,2190.58,0.00,10000.00,Verified
1730876,MD,Joint App,0.0000,N,Cash,35000.0,35000.00000,A,N,MORTGAGE,...,0.00,3625.0,A5,60,36650.154374,36650.15,1650.15,0.00,35000.00,Verified
126491,TX,Individual,0.0000,N,Cash,10000.0,10000.00000,B,N,MORTGAGE,...,0.00,3470.0,B3,36,11953.580000,11953.58,1953.58,0.00,10000.00,Verified
130663,SC,Individual,0.0000,N,Cash,5000.0,5000.00000,A,N,MORTGAGE,...,0.00,6951.0,A1,36,5368.760000,5368.76,368.76,0.00,5000.00,Source Verified
309567,IL,Individual,0.0000,N,Cash,24000.0,24000.00000,B,N,MORTGAGE,...,0.00,25097.0,B5,36,28899.728637,28899.73,4899.73,0.00,24000.00,Source Verified
918680,MA,Individual,0.0000,N,Cash,25000.0,25000.00000,A,N,MORTGAGE,...,0.00,52640.0,A1,36,26281.208210,26281.21,1281.21,0.00,25000.00,Source Verified
512042,CO,Individual,0.0000,N,Cash,14000.0,14000.00000,B,N,RENT,...,0.00,15301.0,B3,36,15332.008155,15332.01,1332.01,0.00,14000.00,Source Verified
1383115,OR,Individual,0.0000,N,Cash,10000.0,10000.00000,A,N,MORTGAGE,...,0.00,5119.0,A1,36,10279.962173,10279.96,279.96,0.00,10000.00,Not Verified
1233544,SC,Individual,0.0000,N,Cash,28425.0,28425.00000,C,N,MORTGAGE,...,0.00,5895.0,C5,60,11057.450000,11057.45,5542.34,0.00,5515.11,Not Verified
157548,TN,Individual,0.0000,N,Cash,16000.0,15975.00000,B,N,MORTGAGE,...,0.00,15983.0,B3,36,17656.082450,17628.49,1656.08,0.00,16000.00,Not Verified
1405526,FL,Individual,0.0000,N,Cash,4000.0,4000.00000,D,N,MORTGAGE,...,0.00,22182.0,D5,36,4884.934452,4884.93,884.93,0.00,4000.00,Source Verified
1104932,MI,Individual,0.0000,N,Cash,20000.0,20000.00000,B,N,OWN,...,0.00,11533.0,B1,36,22599.590780,22599.59,2599.59,0.00,20000.00,Not Verified
434666,NC,Individual,0.0000,N,Cash,24350.0,24350.00000,D,N,MORTGAGE,...,0.00,24720.0,D3,60,36485.097653,36485.10,12135.10,0.00,24350.00,Source Verified
631054,NY,Individual,0.0000,N,Cash,4000.0,4000.00000,D,N,RENT,...,0.00,317.0,D1,36,4036.430000,4036.43,36.43,0.00,4000.00,Source Verified
691358,SC,Individual,0.0000,N,Cash,7200.0,7200.00000,A,N,MORTGAGE,...,0.00,22450.0,A2,36,7863.451243,7863.45,663.45,0.00,7200.00,Verified
35302,CT,Individual,0.0000,N,Cash,20000.0,19707.24552,B,N,RENT,...,0.00,33184.0,B2,36,23737.279130,23379.81,3737.28,0.00,20000.00,Not Verified
560145,NC,Individual,0.0000,N,Cash,15000.0,15000.00000,C,N,MORTGAGE,...,0.00,481.0,C3,60,18722.821780,18722.82,3722.82,0.00,15000.00,Source Verified
540028,TX,Individual,0.0000,N,Cash,5000.0,5000.00000,B,N,RENT,...,0.00,4266.0,B5,36,5840.920615,5840.92,840.92,0.00,5000.00,Source Verified
570677,SC,Individual,828.0000,N,Cash,35000.0,35000.00000,B,N,MORTGAGE,...,4600.00,126866.0,B4,36,35717.040000,35717.04,5777.33,171.84,25167.87,Verified
651641,FL,Individual,257.6718,N,Cash,10075.0,10075.00000,E,N,RENT,...,1431.51,8537.0,E3,60,2732.820000,2732.82,778.38,0.00,522.93,Verified
573603,PA,Individual,0.0000,N,Cash,12500.0,12500.00000,B,N,RENT,...,0.00,471050.0,B4,36,14511.653049,14511.65,2011.65,0.00,12500.00,Verified
949973,WI,Individual,0.0000,N,Cash,11200.0,11200.00000,D,N,MORTGAGE,...,0.00,9733.0,D3,60,5993.380000,5993.38,3158.29,0.00,2835.09,Source Verified
606141,MD,Individual,281.8566,N,Cash,20700.0,20700.00000,C,N,RENT,...,1565.87,17190.0,C4,36,14362.250000,14362.25,3525.59,0.00,9270.79,Not Verified

In [0]:
#y = np_utils.to_categorical(y)
#Convert categorical variable into dummy/indicator variables:
x =pd.get_dummies(x, drop_first=True)

In [49]:
#print(y[13])
print(list(x))
print(x.shape)
y.shape

['collection_recovery_fee', 'funded_amnt', 'funded_amnt_inv', 'installment', 'last_pymnt_amnt', 'loan_amnt', 'out_prncp', 'out_prncp_inv', 'policy_code', 'recoveries', 'revol_bal', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'addr_state_AL', 'addr_state_AR', 'addr_state_AZ', 'addr_state_CA', 'addr_state_CO', 'addr_state_CT', 'addr_state_DC', 'addr_state_DE', 'addr_state_FL', 'addr_state_GA', 'addr_state_HI', 'addr_state_IA', 'addr_state_ID', 'addr_state_IL', 'addr_state_IN', 'addr_state_KS', 'addr_state_KY', 'addr_state_LA', 'addr_state_MA', 'addr_state_MD', 'addr_state_ME', 'addr_state_MI', 'addr_state_MN', 'addr_state_MO', 'addr_state_MS', 'addr_state_MT', 'addr_state_NC', 'addr_state_ND', 'addr_state_NE', 'addr_state_NH', 'addr_state_NJ', 'addr_state_NM', 'addr_state_NV', 'addr_state_NY', 'addr_state_OH', 'addr_state_OK', 'addr_state_OR', 'addr_state_PA', 'addr_state_RI', 'addr_state_SC', 'addr_state_SD', 'addr_state_TN', 'addr_state_TX', 'addr_state_UT', 'addr_state_VA', 'addr_state_VT', 'addr_state_WA', 'addr_state_WI', 'addr_state_WV', 'addr_state_WY', 'application_type_Joint App', 'debt_settlement_flag_Y', 'disbursement_method_DirectPay', 'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F', 'grade_G', 'hardship_flag_Y', 'home_ownership_MORTGAGE', 'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT', 'initial_list_status_w', 'purpose_credit_card', 'purpose_debt_consolidation', 'purpose_educational', 'purpose_home_improvement', 'purpose_house', 'purpose_major_purchase', 'purpose_medical', 'purpose_moving', 'purpose_other', 'purpose_renewable_energy', 'purpose_small_business', 'purpose_vacation', 'purpose_wedding', 'pymnt_plan_y', 'sub_grade_A2', 'sub_grade_A3', 'sub_grade_A4', 'sub_grade_A5', 'sub_grade_B1', 'sub_grade_B2', 'sub_grade_B3', 'sub_grade_B4', 'sub_grade_B5', 'sub_grade_C1', 'sub_grade_C2', 'sub_grade_C3', 'sub_grade_C4', 'sub_grade_C5', 'sub_grade_D1', 'sub_grade_D2', 'sub_grade_D3', 'sub_grade_D4', 'sub_grade_D5', 'sub_grade_E1', 'sub_grade_E2', 'sub_grade_E3', 'sub_grade_E4', 'sub_grade_E5', 'sub_grade_F1', 'sub_grade_F2', 'sub_grade_F3', 'sub_grade_F4', 'sub_grade_F5', 'sub_grade_G1', 'sub_grade_G2', 'sub_grade_G3', 'sub_grade_G4', 'sub_grade_G5', 'term_ 60 ', 'verification_status_Source Verified', 'verification_status_Verified']
(1201050, 133)

(1201050,)

In [0]:
#x.add(int_rate, axis='columns', level=None, fill_value=None)
x = pd.concat([x, int_rate], axis=1, join_axes=[x.index])

#dropping non numerical columns for non - will/should come back a one hot encode categorical columns
#x = x.select_dtypes(['number'])
#x['grade']

In [51]:
print(list(x))
print(x.shape)
x

['collection_recovery_fee', 'funded_amnt', 'funded_amnt_inv', 'installment', 'last_pymnt_amnt', 'loan_amnt', 'out_prncp', 'out_prncp_inv', 'policy_code', 'recoveries', 'revol_bal', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'addr_state_AL', 'addr_state_AR', 'addr_state_AZ', 'addr_state_CA', 'addr_state_CO', 'addr_state_CT', 'addr_state_DC', 'addr_state_DE', 'addr_state_FL', 'addr_state_GA', 'addr_state_HI', 'addr_state_IA', 'addr_state_ID', 'addr_state_IL', 'addr_state_IN', 'addr_state_KS', 'addr_state_KY', 'addr_state_LA', 'addr_state_MA', 'addr_state_MD', 'addr_state_ME', 'addr_state_MI', 'addr_state_MN', 'addr_state_MO', 'addr_state_MS', 'addr_state_MT', 'addr_state_NC', 'addr_state_ND', 'addr_state_NE', 'addr_state_NH', 'addr_state_NJ', 'addr_state_NM', 'addr_state_NV', 'addr_state_NY', 'addr_state_OH', 'addr_state_OK', 'addr_state_OR', 'addr_state_PA', 'addr_state_RI', 'addr_state_SC', 'addr_state_SD', 'addr_state_TN', 'addr_state_TX', 'addr_state_UT', 'addr_state_VA', 'addr_state_VT', 'addr_state_WA', 'addr_state_WI', 'addr_state_WV', 'addr_state_WY', 'application_type_Joint App', 'debt_settlement_flag_Y', 'disbursement_method_DirectPay', 'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F', 'grade_G', 'hardship_flag_Y', 'home_ownership_MORTGAGE', 'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT', 'initial_list_status_w', 'purpose_credit_card', 'purpose_debt_consolidation', 'purpose_educational', 'purpose_home_improvement', 'purpose_house', 'purpose_major_purchase', 'purpose_medical', 'purpose_moving', 'purpose_other', 'purpose_renewable_energy', 'purpose_small_business', 'purpose_vacation', 'purpose_wedding', 'pymnt_plan_y', 'sub_grade_A2', 'sub_grade_A3', 'sub_grade_A4', 'sub_grade_A5', 'sub_grade_B1', 'sub_grade_B2', 'sub_grade_B3', 'sub_grade_B4', 'sub_grade_B5', 'sub_grade_C1', 'sub_grade_C2', 'sub_grade_C3', 'sub_grade_C4', 'sub_grade_C5', 'sub_grade_D1', 'sub_grade_D2', 'sub_grade_D3', 'sub_grade_D4', 'sub_grade_D5', 'sub_grade_E1', 'sub_grade_E2', 'sub_grade_E3', 'sub_grade_E4', 'sub_grade_E5', 'sub_grade_F1', 'sub_grade_F2', 'sub_grade_F3', 'sub_grade_F4', 'sub_grade_F5', 'sub_grade_G1', 'sub_grade_G2', 'sub_grade_G3', 'sub_grade_G4', 'sub_grade_G5', 'term_ 60 ', 'verification_status_Source Verified', 'verification_status_Verified', 'int_rate']

,collection_recovery_fee,funded_amnt,funded_amnt_inv,installment,last_pymnt_amnt,loan_amnt,out_prncp,out_prncp_inv,policy_code,recoveries,...,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,term_ 60,verification_status_Source Verified,verification_status_Verified,int_rate
783788,1440.0000,13600.0,13600.00000,356.70,356.70,13600.0,0.0,0.0,1.0,8000.00,...,0,0,0,0,0,0,1,1,0,19.52
661671,0.0000,4000.0,4000.00000,136.70,3197.97,4000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,13.99
1293389,0.0000,2975.0,2975.00000,112.84,112.84,2975.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,21.49
717904,0.0000,9600.0,9600.00000,335.67,383.92,9600.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,15.61
516267,0.0000,2500.0,2500.00000,79.70,469.61,2500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,9.17
1501243,0.0000,15000.0,15000.00000,471.71,12087.22,15000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,8.24
561684,0.0000,15000.0,15000.00000,451.73,3559.11,15000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,5.32
730882,209.7198,12000.0,12000.00000,377.04,377.04,12000.0,0.0,0.0,1.0,1165.11,...,0,0,0,0,0,0,0,0,0,8.18
1202807,655.0038,33600.0,33350.00000,1015.77,1015.77,33600.0,0.0,0.0,1.0,3638.91,...,0,0,0,0,0,0,1,1,0,26.49
1956927,0.0000,30000.0,30000.00000,966.89,30042.57,30000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,9.92
1197470,0.0000,7500.0,7500.00000,251.95,3750.86,7500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,12.79
107937,0.0000,15000.0,14925.00000,316.57,10430.25,15000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,1,9.71
533625,0.0000,4350.0,4350.00000,142.40,142.10,4350.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,10.99
782516,0.0000,12950.0,12950.00000,339.65,13097.46,12950.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,19.52
1621319,0.0000,20800.0,20800.00000,680.08,14234.22,20800.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,10.91
898029,0.0000,12200.0,12200.00000,415.02,146.50,12200.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,13.67
845279,0.0000,24650.0,24650.00000,823.34,823.00,24650.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,12.39
534152,0.0000,24000.0,24000.00000,722.76,534.49,24000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,5.32
59707,0.0000,12000.0,12000.00000,398.52,398.27,12000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,11.99
962872,558.3600,15000.0,14950.00000,367.09,367.09,15000.0,0.0,0.0,1.0,3102.00,...,0,0,0,0,0,0,1,1,0,16.29
1240991,56.4228,2000.0,2000.00000,71.30,71.30,2000.0,0.0,0.0,1.0,313.46,...,0,0,0,0,0,0,0,0,1,16.99
2001134,0.0000,18000.0,18000.00000,563.73,18028.46,18000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,7.96
769446,0.0000,12500.0,12500.00000,391.08,732.67,12500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,7.89
489132,0.0000,1600.0,1600.00000,51.45,529.93,1600.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,9.76
1286679,0.0000,4800.0,4800.00000,155.99,155.99,4800.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,10.49
21714,0.0000,10000.0,9975.00000,308.36,8526.40,10000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,6.91
563518,0.0000,23000.0,23000.00000,709.02,708.90,23000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,6.89
359562,0.0000,7550.0,7550.00000,257.97,514.96,7550.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,13.98
1077454,0.0000,12225.0,12225.00000,361.99,11545.11,12225.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,1,25.44
563222,0.0000,20000.0,20000.00000,683.46,13924.77,20000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,13.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1489468,0.0000,10000.0,10000.00000,328.72,9335.37,10000.0,0.0,0.0,1.0,0.00,...,0,0,1,0,0,0,1,0,0,30.84
1049053,0.0000,16500.0,16500.00000,516.22,6880.48,16500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,7.89
1719377,0.0000,12000.0,12000.00000,285.80,285.80,12000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,15.05
291711,0.0000,35000.0,35000.00000,1195.88,1636.66,35000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,13.98
2080860,0.0000,8000.0,8000.00000,289.10,8217.52,8000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,17.97
1670459,0.0000,15000.0,15000.00000,381.40,14756.38,15000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,18.06
721094,0.0000,20000.0,20000.00000,659.81,10782.16,20000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,11.53
320822,0.0000,10000.0,10000.00000,338.63,338.53,10000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,13.35
1730876,0.0000,35000.0,35000.00000,709.18,32402.82,35000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,1,7.97
126491,0.0000,10000.0,10000.00000,332.72,1639.26,10000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,12.12
130663,0.0000,5000.0,5000.00000,152.18,2630.61,5000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,6.03
309567,0.0000,24000.0,24000.00000,802.78,802.43,24000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,12.49
918680,0.0000,25000.0,25000.00000,752.87,16501.29,25000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,5.32
512042,0.0000,14000.0,14000.00000,451.68,9912.42,14000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,9.99
1383115,0.0000,10000.0,10000.00000,301.15,162.87,10000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,5.32
1233544,0.0000,28425.0,28425.00000,691.09,691.09,28425.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,15.99
157548,0.0000,16000.0,15975.00000,532.35,2382.99,16000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,12.12
1405526,0.0000,4000.0,4000.00000,151.71,2924.64,4000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,21.49
1104932,0.0000,20000.0,20000.00000,630.34,625.42,20000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,8.39
434666,0.0000,24350.0,24350.00000,621.65,8510.85,24350.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,1,0,18.25
631054,0.0000,4000.0,4000.00000,139.86,4043.37,4000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,15.61
691358,0.0000,7200.0,7200.00000,219.83,2152.86,7200.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,6.24
35302,0.0000,20000.0,19707.24552,659.37,708.94,20000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,11.48
560145,0.0000,15000.0,15000.00000,343.84,2476.18,15000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,1,0,13.33
540028,0.0000,5000.0,5000.00000,164.86,1887.47,5000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,11.49
570677,828.0000,35000.0,35000.00000,1145.69,1145.69,35000.0,0.0,0.0,1.0,4600.00,...,0,0,0,0,0,0,0,0,1,10.99
651641,257.6718,10075.0,10075.00000,262.41,262.41,10075.0,0.0,0.0,1.0,1431.51,...,0,0,0,0,0,0,1,0,1,19.19
573603,0.0000,12500.0,12500.00000,409.18,4672.25,12500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,10.99
949973,0.0000,11200.0,11200.00000,285.94,285.94,11200.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,1,0,18.25
606141,281.8566,20700.0,20700.00000,707.38,707.38,20700.0,0.0,0.0,1.0,1565.87,...,0,0,0,0,0,0,0,0,0,13.99

In [76]:
y

783788     0
661671     1
1293389    0
717904     1
516267     1
1501243    1
561684     1
730882     0
1202807    0
1956927    1
1197470    1
107937     1
533625     1
782516     1
1621319    1
898029     1
845279     1
534152     1
59707      1
962872     0
1240991    0
2001134    1
769446     1
489132     1
1286679    0
21714      1
563518     1
359562     1
1077454    1
563222     1
          ..
1489468    1
1049053    1
1719377    0
291711     1
2080860    1
1670459    1
721094     1
320822     1
1730876    1
126491     1
130663     1
309567     1
918680     1
512042     1
1383115    1
1233544    0
157548     1
1405526    1
1104932    1
434666     1
631054     1
691358     1
35302      1
560145     1
540028     1
570677     0
651641     0
573603     1
949973     0
606141     0
Name: loan_status, Length: 1201050, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

seed = 45
np.random.seed(seed)

In [86]:
x

,collection_recovery_fee,funded_amnt,funded_amnt_inv,installment,last_pymnt_amnt,loan_amnt,out_prncp,out_prncp_inv,policy_code,recoveries,...,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,term_ 60,verification_status_Source Verified,verification_status_Verified,int_rate
783788,1440.0000,13600.0,13600.00000,356.70,356.70,13600.0,0.0,0.0,1.0,8000.00,...,0,0,0,0,0,0,1,1,0,19.52
661671,0.0000,4000.0,4000.00000,136.70,3197.97,4000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,13.99
1293389,0.0000,2975.0,2975.00000,112.84,112.84,2975.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,21.49
717904,0.0000,9600.0,9600.00000,335.67,383.92,9600.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,15.61
516267,0.0000,2500.0,2500.00000,79.70,469.61,2500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,9.17
1501243,0.0000,15000.0,15000.00000,471.71,12087.22,15000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,8.24
561684,0.0000,15000.0,15000.00000,451.73,3559.11,15000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,5.32
730882,209.7198,12000.0,12000.00000,377.04,377.04,12000.0,0.0,0.0,1.0,1165.11,...,0,0,0,0,0,0,0,0,0,8.18
1202807,655.0038,33600.0,33350.00000,1015.77,1015.77,33600.0,0.0,0.0,1.0,3638.91,...,0,0,0,0,0,0,1,1,0,26.49
1956927,0.0000,30000.0,30000.00000,966.89,30042.57,30000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,9.92
1197470,0.0000,7500.0,7500.00000,251.95,3750.86,7500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,12.79
107937,0.0000,15000.0,14925.00000,316.57,10430.25,15000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,1,9.71
533625,0.0000,4350.0,4350.00000,142.40,142.10,4350.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,10.99
782516,0.0000,12950.0,12950.00000,339.65,13097.46,12950.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,19.52
1621319,0.0000,20800.0,20800.00000,680.08,14234.22,20800.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,10.91
898029,0.0000,12200.0,12200.00000,415.02,146.50,12200.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,13.67
845279,0.0000,24650.0,24650.00000,823.34,823.00,24650.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,12.39
534152,0.0000,24000.0,24000.00000,722.76,534.49,24000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,5.32
59707,0.0000,12000.0,12000.00000,398.52,398.27,12000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,11.99
962872,558.3600,15000.0,14950.00000,367.09,367.09,15000.0,0.0,0.0,1.0,3102.00,...,0,0,0,0,0,0,1,1,0,16.29
1240991,56.4228,2000.0,2000.00000,71.30,71.30,2000.0,0.0,0.0,1.0,313.46,...,0,0,0,0,0,0,0,0,1,16.99
2001134,0.0000,18000.0,18000.00000,563.73,18028.46,18000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,7.96
769446,0.0000,12500.0,12500.00000,391.08,732.67,12500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,7.89
489132,0.0000,1600.0,1600.00000,51.45,529.93,1600.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,9.76
1286679,0.0000,4800.0,4800.00000,155.99,155.99,4800.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,10.49
21714,0.0000,10000.0,9975.00000,308.36,8526.40,10000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,6.91
563518,0.0000,23000.0,23000.00000,709.02,708.90,23000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,6.89
359562,0.0000,7550.0,7550.00000,257.97,514.96,7550.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,13.98
1077454,0.0000,12225.0,12225.00000,361.99,11545.11,12225.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,1,25.44
563222,0.0000,20000.0,20000.00000,683.46,13924.77,20000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,13.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1489468,0.0000,10000.0,10000.00000,328.72,9335.37,10000.0,0.0,0.0,1.0,0.00,...,0,0,1,0,0,0,1,0,0,30.84
1049053,0.0000,16500.0,16500.00000,516.22,6880.48,16500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,7.89
1719377,0.0000,12000.0,12000.00000,285.80,285.80,12000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,15.05
291711,0.0000,35000.0,35000.00000,1195.88,1636.66,35000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,13.98
2080860,0.0000,8000.0,8000.00000,289.10,8217.52,8000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,17.97
1670459,0.0000,15000.0,15000.00000,381.40,14756.38,15000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,18.06
721094,0.0000,20000.0,20000.00000,659.81,10782.16,20000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,11.53
320822,0.0000,10000.0,10000.00000,338.63,338.53,10000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,13.35
1730876,0.0000,35000.0,35000.00000,709.18,32402.82,35000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,1,7.97
126491,0.0000,10000.0,10000.00000,332.72,1639.26,10000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,12.12
130663,0.0000,5000.0,5000.00000,152.18,2630.61,5000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,6.03
309567,0.0000,24000.0,24000.00000,802.78,802.43,24000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,12.49
918680,0.0000,25000.0,25000.00000,752.87,16501.29,25000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,5.32
512042,0.0000,14000.0,14000.00000,451.68,9912.42,14000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,9.99
1383115,0.0000,10000.0,10000.00000,301.15,162.87,10000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,5.32
1233544,0.0000,28425.0,28425.00000,691.09,691.09,28425.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,15.99
157548,0.0000,16000.0,15975.00000,532.35,2382.99,16000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,12.12
1405526,0.0000,4000.0,4000.00000,151.71,2924.64,4000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,21.49
1104932,0.0000,20000.0,20000.00000,630.34,625.42,20000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,8.39
434666,0.0000,24350.0,24350.00000,621.65,8510.85,24350.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,1,0,18.25
631054,0.0000,4000.0,4000.00000,139.86,4043.37,4000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,15.61
691358,0.0000,7200.0,7200.00000,219.83,2152.86,7200.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,6.24
35302,0.0000,20000.0,19707.24552,659.37,708.94,20000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,11.48
560145,0.0000,15000.0,15000.00000,343.84,2476.18,15000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,1,0,13.33
540028,0.0000,5000.0,5000.00000,164.86,1887.47,5000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,11.49
570677,828.0000,35000.0,35000.00000,1145.69,1145.69,35000.0,0.0,0.0,1.0,4600.00,...,0,0,0,0,0,0,0,0,1,10.99
651641,257.6718,10075.0,10075.00000,262.41,262.41,10075.0,0.0,0.0,1.0,1431.51,...,0,0,0,0,0,0,1,0,1,19.19
573603,0.0000,12500.0,12500.00000,409.18,4672.25,12500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,10.99
949973,0.0000,11200.0,11200.00000,285.94,285.94,11200.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,1,0,18.25
606141,281.8566,20700.0,20700.00000,707.38,707.38,20700.0,0.0,0.0,1.0,1565.87,...,0,0,0,0,0,0,0,0,0,13.99

In [53]:
print(X_train.size+X_test.size)

160940700

In [54]:
print(y_train.size + y_test.size)
X_train

1201050

,collection_recovery_fee,funded_amnt,funded_amnt_inv,installment,last_pymnt_amnt,loan_amnt,out_prncp,out_prncp_inv,policy_code,recoveries,...,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,term_ 60,verification_status_Source Verified,verification_status_Verified,int_rate
127090,0.0000,15000.0,15000.0,513.33,3489.88,15000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,14.09
1004652,0.0000,8000.0,8000.0,245.16,5318.02,8000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,6.49
1490735,0.0000,30000.0,30000.0,678.61,26965.46,30000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,12.74
117970,0.0000,9500.0,9500.0,326.22,1.11,9500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,14.33
588584,0.0000,5875.0,5875.0,209.44,209.00,5875.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,16.99
702629,0.0000,13600.0,13600.0,425.49,425.28,13600.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,7.89
1496941,0.0000,7000.0,7000.0,242.63,1853.47,7000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,14.99
1587474,0.0000,1000.0,1000.0,34.69,913.67,1000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,15.05
343755,282.4740,29575.0,29575.0,882.52,882.52,29575.0,0.0,0.0,1.0,1569.30,...,0,0,1,0,0,0,1,1,0,25.83
632473,0.0000,24000.0,24000.0,558.32,48.40,24000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,1,0,13.99
407710,0.0000,18000.0,18000.0,571.56,10708.29,18000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,8.90
752488,0.0000,24000.0,24000.0,729.37,729.20,24000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,5.93
558314,0.0000,20000.0,20000.0,683.46,12319.41,20000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,13.99
274780,0.0000,28000.0,28000.0,866.10,10078.79,28000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,7.12
565153,0.0000,3000.0,3000.0,100.06,10.16,3000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,12.29
1211780,0.0000,1000.0,1000.0,33.60,441.66,1000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,12.79
1013809,0.0000,22000.0,22000.0,688.49,688.49,22000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,7.91
736217,0.0000,30000.0,30000.0,759.52,17737.11,30000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,1,17.86
1257180,0.0000,5000.0,5000.0,164.74,3175.21,5000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,11.44
151095,0.0000,9600.0,9600.0,304.84,3525.81,9600.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,8.90
1098881,0.0000,14350.0,14350.0,351.18,14081.43,14350.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,16.29
735497,0.0000,5500.0,5500.0,183.45,2901.70,5500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,12.29
1444949,0.0000,12675.0,12675.0,301.88,301.88,12675.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,1,0,15.05
307237,0.0000,30000.0,30000.0,919.34,919.08,30000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,6.49
439051,0.0000,35000.0,35000.0,817.30,817.30,35000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,1,14.16
231501,0.0000,10000.0,10000.0,311.02,310.87,10000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,7.49
383143,0.0000,18000.0,18000.0,582.08,584.74,18000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,10.15
954269,0.0000,14400.0,14400.0,474.65,8711.90,14400.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,11.47
600630,126.3978,8400.0,8400.0,281.78,50.00,8400.0,0.0,0.0,1.0,702.21,...,0,0,0,0,0,0,0,1,0,12.69
637963,0.0000,23000.0,23000.0,742.04,741.93,23000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,9.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1214374,0.0000,20000.0,19750.0,635.91,12411.92,20000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,8.99
340442,2339.1342,14350.0,14350.0,501.75,501.75,14350.0,0.0,0.0,1.0,13975.67,...,0,0,0,0,0,0,0,1,0,15.61
1137811,0.0000,8000.0,8000.0,268.75,8101.93,8000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,12.79
523301,0.0000,19100.0,19100.0,588.80,5191.79,19100.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,6.89
676014,0.0000,17875.0,17875.0,616.59,616.29,17875.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,14.65
992423,0.0000,35000.0,35000.0,1126.07,15089.18,35000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,9.80
238875,19.3986,3000.0,3000.0,102.04,102.04,3000.0,0.0,0.0,1.0,107.77,...,0,0,0,0,0,0,0,0,0,13.66
1069737,0.0000,30000.0,30000.0,988.86,30333.43,30000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,11.47
462376,144.0000,35000.0,34950.0,974.64,974.64,35000.0,0.0,0.0,1.0,800.00,...,0,0,0,0,0,0,1,1,0,22.40
758866,0.0000,24000.0,24000.0,612.72,24166.69,24000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,1,18.25
1805578,0.0000,8000.0,8000.0,268.06,7395.33,8000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,12.61
116971,0.0000,8000.0,8000.0,274.71,1086.06,8000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,14.33
397018,0.0000,17000.0,17000.0,392.49,13538.88,17000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,13.65
1095144,0.0000,6000.0,6000.0,211.81,217.80,6000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,16.29
368779,0.0000,7000.0,7000.0,226.37,6201.95,7000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,10.15
242150,0.0000,19150.0,19150.0,550.80,15066.22,19150.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,1,0,23.99
951509,0.0000,20000.0,20000.0,673.79,673.79,20000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,12.99
1660569,0.0000,6000.0,6000.0,184.50,5733.45,6000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,6.72
1519171,0.0000,5600.0,5600.0,191.37,191.37,5600.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,13.99
109715,0.0000,23500.0,23500.0,569.98,2663.28,23500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,1,15.88
953538,0.0000,21000.0,21000.0,714.37,9976.88,21000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,13.67
170824,0.0000,7925.0,7925.0,259.99,517.81,7925.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,11.14
174321,0.0000,12000.0,11975.0,388.11,11232.56,12000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,0,10.16
965264,0.0000,10000.0,10000.0,336.90,336.90,10000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,12.99
650919,0.0000,5500.0,5500.0,180.04,179.91,5500.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,10.99
1622175,0.0000,5000.0,5000.0,161.18,3685.17,5000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,1,0,9.93
225262,0.0000,5000.0,4975.0,156.46,163.93,5000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,7.90
1424108,0.0000,22750.0,22750.0,530.30,530.30,22750.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,0,14.08
1465366,0.0000,12275.0,12275.0,366.22,12500.55,12275.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,1,0,1,25.82
233711,0.0000,5000.0,5000.0,157.13,1233.33,5000.0,0.0,0.0,1.0,0.00,...,0,0,0,0,0,0,0,0,1,8.19

# SHALLOW NN:

In [0]:

my_model = Sequential()
my_model.add(Dense(150, input_dim=134, activation='sigmoid'))
my_model.add(Dense(150,  activation='sigmoid'))
my_model.add(Dense(150,  activation='sigmoid'))
my_model.add(Dense(150,  activation='sigmoid'))
my_model.add(Dense(1, activation='softmax')) #when i one hot encode the answer key - u need output nueron number to be 2 not 1

my_model.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy']) #need to one hot encode the answer key cus im a dumb dumb

In [56]:
scores = my_model.evaluate(X_train, y_train, verbose=0)
print("Accuracy on training data: %.2f%%" % (scores[1]*100))

scores = my_model.evaluate(X_test, y_test, verbose=0)
print("Accuracy on test data: %.2f%%" % (scores[1]*100))

y_pred = my_model.predict(X_train)

from sklearn.metrics import confusion_matrix
confusion_matrix(y_train, y_pred)

#model is never predicting that the person will not pay

Accuracy on training data: 79.93%
Accuracy on test data: 79.93%

array([[     0, 161481],
       [     0, 643222]])

#BASIC CNN:

In [57]:
x_conv = np.expand_dims(x, axis=2) #need to reshape for CONV ONLY
print(x_conv.shape)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_conv, y, test_size=0.33, random_state=42)

seed = 45
np.random.seed(seed)

(1201050, 134, 1)

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Conv1D, Flatten
#create model
CNNmodel = Sequential()
#add model layers
CNNmodel.add(Conv1D(64, kernel_size=2, activation='relu', input_shape=(134,1)))
CNNmodel.add(Conv1D(32, kernel_size=2, activation='relu'))
CNNmodel.add(Flatten())
CNNmodel.add(Dense(1, activation='softmax'))

CNNmodel.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy'])

In [59]:
scores = CNNmodel.evaluate(X_train, y_train, verbose=0)
print("Accuracy on training data: %.2f%%" % (scores[1]*100))

scores = CNNmodel.evaluate(X_test, y_test, verbose=0)
print("Accuracy on test data: %.2f%%" % (scores[1]*100))

y_predCNN = CNNmodel.predict(X_train)
confusion_matrix(y_train, y_predCNN)

Accuracy on training data: 79.93%
Accuracy on test data: 79.93%

array([[     0, 161481],
       [     0, 643222]])

#Naive Bayes Classifier
##Gaussian Distribution
###Continuous variables


*   We can also test multinomial and bernoulli models from scikit-learn just to see how they perform for kicks and giggles
*   https://www.youtube.com/watch?v=r1in0YNetG8
  *  the above is a video for gaussian naive bayes
  * use pdf (probability density function) (can google the equation)

In [117]:
x_Naive = pd.concat([x, y], axis=1)
x_Naive = x_Naive.drop(x_Naive[x_Naive.loan_status.eq(1)].sample(frac=.80).index)
x_Naive = x_Naive.drop(x_Naive.sample(frac=.90).index)
y_Naive = x_Naive['loan_status'].copy()
x_Naive.drop(columns=['loan_status'], inplace=True) 
x_Naive.shape

(43304, 134)

In [0]:
#need a function to find class_size
def class_sizeFinder(df, Class):
  return(df[Class].size)

#need function to determine mean of each class
#for Class you need to pass in a df indexed into the class in a way that can be indexed into each individual feature
def mean(df, Class):
  return(df[Class].mean())
  

#need function to determine variance of each class
def variance(df, Class):
  return(df[Class].var())

#need probability density function

In [121]:
colLen = class_sizeFinder(x_Naive,'funded_amnt')
colLen

mean(x_Naive, "funded_amnt")

14859.01475614262

In [123]:
variance(x_Naive, "funded_amnt")

74768687.26225679