<a href="https://colab.research.google.com/github/msakarvadia/Machine-Learning/blob/master/LC_LoanDefaultRatePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Command to run local server:

jupyter notebook --no-browser --allow-root --NotebookApp.allow_origin='https://colab.research.google.com' --NotebookApp.token=''  --NotebookApp.disable_check_xsrf=True


the above is the comand line to connect to local host when starting a jupyter notebook (remember to be in the corrent directory)

#UPLOAD DATA:

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.utils import np_utils
from sklearn.preprocessing import OneHotEncoder

In [0]:
cd /mnt/c/Users/mansi/Desktop/High\ School/senior/Applied\ AI/Loan\ data/lending\ club\ data

/mnt/c/Users/mansi/Desktop/High School/senior/Applied AI/Loan data/lending club data

In [0]:
ls

desktop.ini*                                 LoanStats_LendingClub_2016Q4.csv*
LCDataDictionary.xlsx*                       LoanStats_LendingClub_2017Q1.csv*
LoanStats3a_securev1_LendingClub_07-11.csv*  LoanStats_LendingClub_2017Q2.csv*
LoanStats3b_securev1_LendingClub_12-13.csv*  LoanStats_LendingClub_2017Q3.csv*
LoanStats3c_LendingClub_2014.csv*            LoanStats_LendingClub_2017Q4.csv*
LoanStats3d_LendingClub_2015.csv*            LoanStats_LendingClub_2018Q1.csv*
LoanStats_LendingClub_2016Q1.csv*            LoanStats_LendingClub_2018Q2.csv*
LoanStats_LendingClub_2016Q2.csv*            LoanStats_LendingClub_2018Q3.csv*
LoanStats_LendingClub_2016Q3.csv*            RejectStatsA.csv*

In [0]:
#for host run time
'''from google.colab import drive
drive.mount('/content/drive')'''

"from google.colab import drive\ndrive.mount('/content/drive')"

In [0]:
#for host run time
'''#!pwd
%cd drive/My\ Drive
%cd Colab\ Notebooks
%cd Loan\ Project
# we are in the "Loan Project directory" - if there is an issue use "%cd ... to reenter directory"
#!ls
#!cat LoanStats3a_securev1_LendingClub_07-11.csv'''

'#!pwd\n%cd drive/My\\ Drive\n%cd Colab\\ Notebooks\n%cd Loan\\ Project\n# we are in the "Loan Project directory" - if there is an issue use "%cd ... to reenter directory"\n#!ls\n#!cat LoanStats3a_securev1_LendingClub_07-11.csv'

In [0]:
#data is from Lending Club - I have renamed csv files
df_07_11 = pd.read_csv('LoanStats3a_securev1_LendingClub_07-11.csv', sep=",", skiprows=1)
df_12_13 = pd.read_csv('LoanStats3b_securev1_LendingClub_12-13.csv', sep=",", skiprows=1)
df_14 = pd.read_csv("LoanStats3c_LendingClub_2014.csv", sep=",", skiprows=1)
df_15 = pd.read_csv('LoanStats3d_LendingClub_2015.csv', sep=",", skiprows=1)
df_16Q1 = pd.read_csv('LoanStats_LendingClub_2016Q1.csv', sep=",", skiprows=1)
df_16Q2 = pd.read_csv('LoanStats_LendingClub_2016Q2.csv', sep=",", skiprows=1)
df_16Q3 = pd.read_csv('LoanStats_LendingClub_2016Q3.csv', sep=",", skiprows=1)
df_16Q4 = pd.read_csv('LoanStats_LendingClub_2016Q4.csv', sep=",", skiprows=1)
df_17Q1 = pd.read_csv('LoanStats_LendingClub_2017Q1.csv', sep=",", skiprows=1)
df_17Q2 = pd.read_csv('LoanStats_LendingClub_2017Q2.csv', sep=",", skiprows=1)
df_17Q3 = pd.read_csv('LoanStats_LendingClub_2017Q3.csv', sep=",", skiprows=1)
df_17Q4 = pd.read_csv('LoanStats_LendingClub_2017Q4.csv', sep=",", skiprows=1)
df_18Q1 = pd.read_csv('LoanStats_LendingClub_2018Q1.csv', sep=",", skiprows=1)
df_18Q2 = pd.read_csv('LoanStats_LendingClub_2018Q2.csv', sep=",", skiprows=1)
df_18Q3 = pd.read_csv('LoanStats_LendingClub_2018Q3.csv', sep=",", skiprows=1)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,49,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,112) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#PROCESS THE DATA:

In [0]:
frames = [df_07_11, df_12_13, df_14, df_15, df_16Q1, df_16Q2, df_16Q3, df_16Q4, df_17Q1, df_17Q2, df_17Q3, df_17Q4, df_18Q1,df_18Q2,df_18Q3]

result = pd.concat(frames, ignore_index=True)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
#shuffle enties - if you use dates at some point, dont shuffle
result = result.reindex(np.random.permutation(result.index)) #for now we arn't using data, so we shuffle
result.shape

(2132289, 151)

In [0]:
result.drop(columns=['id', 'member_id','url','zip_code', 'issue_d'], inplace=True)
result.shape

(2132289, 146)

In [0]:

#"loan_status" is the column heading of whether it defulted or not
x = result.copy()
#labels = df.loc[:,"loan_status"]
y = result['loan_status'].copy()
y.shape[0]

2132289

In [0]:
import multiprocessing as mp
from multiprocessing import Pool


label = []

 
for i in range(y.shape[0]):
  if y[i] not in label:
    label.append(y[i])

for i in range(len(label)):
  print(label[i])
  
print("There are", len(label), "labels")

Fully Paid
Charged Off
nan
Does not meet the credit policy. Status:Fully Paid
Does not meet the credit policy. Status:Charged Off
Late (31-120 days)
Current
Late (16-30 days)
In Grace Period
Default
There are 10 labels

##NOTES about loan_status (aka. labels):


*   if label is "nan" - we throw that loan out of the training set
*   Current means that the loan is still being paid off, and therefore we cannot use for out training - might be useful to comeback and revisit in the future (maybe predict outcome now) - will be thrown out of training set
*   fully paid  - successful loan


---


*   what is "charged off" vs "default"
 *   "Loans that are in "Default" are loans for which borrowers have failed to make payments for an extended period of time. A loan becomes “Charged Off” when there is no longer a reasonable expectation of further payments.  Charge Off typically occurs when a loan is 120 days or more past due and there is no reasonable expectation of sufficient payment to prevent the charge off.  In certain circumstances, loans may be charged off at an earlier or later date.  Please note, loans for which borrowers have filed for bankruptcy may be charged off earlier based on the date of bankruptcy notification.
 A loan that is in “Default” will still appear in your Notes, in the status of “Default,” while a loan that has been “Charged Off” will appear as charged off, and the remaining principal balance of the Note will be deducted from your account balance.  Learn more about what happens when a loan is charged off"
 *   Because in the case of "charged off" vs "default" the lender has extremely low chance of recovering their investment, we will treat both of these classifications as if they are the same thing

---


*   what does it mean if it "does not meet the credit policy"
 *   Lending Club doesn't make clear the meaning of this statement, but from general internet research most ppl just ommit the "does not meet the credit policy" part and use the second half of the classification
---
*   what does "grace period" mean - should we potentially throw those away?
 * Loan is past due but within the 15-day grace period. - we will throw these away because for training data it isn't useful since the final status of loan isn't avaliable
*   if its late - does that mean status is still being finalized? - should we throw away?
 * if it is late we don't use this loan in training set cus finalized status isn't avalible to confirm predictions

In [0]:
result = result[~result['loan_status'].isin(['Late (31-120 days)', 'Current', 'Late (16-30 days)', 'In Grace Period'])]
# above gets rid of rows that have loan status' that we don't want to consider
result = result[~result['loan_status'].isna()] 

#make labels binary
pay_status = {'Fully Paid':1, 'Charged Off':0, 'Does not meet the credit policy. Status:Fully Paid':1, 'Does not meet the credit policy. Status:Charged Off':0, 'Default':0}
result.loan_status = [pay_status[item] for item in result.loan_status]


# above gets rid of rows that don't have a valid loan status
result.shape

(1201050, 146)

In [0]:
#DROPPING instances of larger ("paid") class - didn't show much effect
#result = result.drop(result[result.loan_status.eq(1)].sample(frac=.75).index)
result.shape

(1201050, 146)

In [0]:
#"loan_status" is the column heading of whether it defulted or not
x = result.copy()


#labels = df.loc[:,"loan_status"]
y = result['loan_status'].copy()

#get rid of labels from test set
x.drop(columns=['loan_status'], inplace=True) 

#for now, we are gonna drop all columns that have even one NAN value - this signifigantly reduces training data (so its something we want to comeback and deal with later)
x.dropna(axis='columns', inplace=True)
print(list(x))

['addr_state', 'application_type', 'collection_recovery_fee', 'debt_settlement_flag', 'disbursement_method', 'funded_amnt', 'funded_amnt_inv', 'grade', 'hardship_flag', 'home_ownership', 'initial_list_status', 'installment', 'int_rate', 'last_pymnt_amnt', 'loan_amnt', 'out_prncp', 'out_prncp_inv', 'policy_code', 'purpose', 'pymnt_plan', 'recoveries', 'revol_bal', 'sub_grade', 'term', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'verification_status']

In [0]:
x['term'] = x['term'].map(lambda x: x.lstrip('%').rstrip('months'))
x['int_rate'] = x["int_rate"].map(lambda x: x.rstrip("%"))
int_rate = x['int_rate'].str.replace(' ', '')
x.int_rate = x.int_rate.astype(float)
#x['revol_util'] = x['revol_util'].str.replace('%', '') #format changes bc column as floats and ints, also has NaN values, so it was removed above
#print(x["revol_util"])
#x.drop(columns=['int_rate'], inplace=True)

In [0]:
#y = np_utils.to_categorical(y)
#Convert categorical variable into dummy/indicator variables:
x =pd.get_dummies(x, drop_first=True)

In [0]:
print(list(x))
print(x.shape)
y.shape

['collection_recovery_fee', 'funded_amnt', 'funded_amnt_inv', 'installment', 'int_rate', 'last_pymnt_amnt', 'loan_amnt', 'out_prncp', 'out_prncp_inv', 'policy_code', 'recoveries', 'revol_bal', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'addr_state_AL', 'addr_state_AR', 'addr_state_AZ', 'addr_state_CA', 'addr_state_CO', 'addr_state_CT', 'addr_state_DC', 'addr_state_DE', 'addr_state_FL', 'addr_state_GA', 'addr_state_HI', 'addr_state_IA', 'addr_state_ID', 'addr_state_IL', 'addr_state_IN', 'addr_state_KS', 'addr_state_KY', 'addr_state_LA', 'addr_state_MA', 'addr_state_MD', 'addr_state_ME', 'addr_state_MI', 'addr_state_MN', 'addr_state_MO', 'addr_state_MS', 'addr_state_MT', 'addr_state_NC', 'addr_state_ND', 'addr_state_NE', 'addr_state_NH', 'addr_state_NJ', 'addr_state_NM', 'addr_state_NV', 'addr_state_NY', 'addr_state_OH', 'addr_state_OK', 'addr_state_OR', 'addr_state_PA', 'addr_state_RI', 'addr_state_SC', 'addr_state_SD', 'addr_state_TN', 'addr_state_TX', 'addr_state_UT', 'addr_state_VA', 'addr_state_VT', 'addr_state_WA', 'addr_state_WI', 'addr_state_WV', 'addr_state_WY', 'application_type_Joint App', 'debt_settlement_flag_Y', 'disbursement_method_DirectPay', 'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F', 'grade_G', 'hardship_flag_Y', 'home_ownership_MORTGAGE', 'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT', 'initial_list_status_w', 'purpose_credit_card', 'purpose_debt_consolidation', 'purpose_educational', 'purpose_home_improvement', 'purpose_house', 'purpose_major_purchase', 'purpose_medical', 'purpose_moving', 'purpose_other', 'purpose_renewable_energy', 'purpose_small_business', 'purpose_vacation', 'purpose_wedding', 'pymnt_plan_y', 'sub_grade_A2', 'sub_grade_A3', 'sub_grade_A4', 'sub_grade_A5', 'sub_grade_B1', 'sub_grade_B2', 'sub_grade_B3', 'sub_grade_B4', 'sub_grade_B5', 'sub_grade_C1', 'sub_grade_C2', 'sub_grade_C3', 'sub_grade_C4', 'sub_grade_C5', 'sub_grade_D1', 'sub_grade_D2', 'sub_grade_D3', 'sub_grade_D4', 'sub_grade_D5', 'sub_grade_E1', 'sub_grade_E2', 'sub_grade_E3', 'sub_grade_E4', 'sub_grade_E5', 'sub_grade_F1', 'sub_grade_F2', 'sub_grade_F3', 'sub_grade_F4', 'sub_grade_F5', 'sub_grade_G1', 'sub_grade_G2', 'sub_grade_G3', 'sub_grade_G4', 'sub_grade_G5', 'term_ 60 ', 'verification_status_Source Verified', 'verification_status_Verified']
(1201050, 134)

(1201050,)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

seed = 45
np.random.seed(seed)

In [0]:
print(y_train.size + y_test.size)
X_train

1201050

,collection_recovery_fee,funded_amnt,funded_amnt_inv,installment,int_rate,last_pymnt_amnt,loan_amnt,out_prncp,out_prncp_inv,policy_code,...,sub_grade_F4,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,term_ 60,verification_status_Source Verified,verification_status_Verified
797278,0.0000,9600.0,9600.0,309.72,9.99,309.72,9600.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
614608,0.0000,20000.0,20000.0,458.45,13.33,14909.98,20000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,1,0
304789,0.0000,35000.0,35000.0,917.97,19.52,32739.76,35000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,0,1
380260,0.0000,35000.0,34975.0,1235.52,16.29,25021.86,35000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
1082074,0.0000,32000.0,32000.0,963.68,5.32,13110.95,32000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
445718,0.0000,10000.0,9875.0,321.13,9.67,320.91,10000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
6855,7.6831,12000.0,12000.0,426.47,16.77,25.08,12000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
252492,0.0000,5000.0,5000.0,168.45,12.99,172.51,5000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
670092,0.0000,4200.0,4200.0,144.88,14.65,292.08,4200.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
116355,0.0000,11500.0,11500.0,383.89,12.35,3342.68,11500.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
872730,0.0000,9000.0,9000.0,288.26,9.49,7286.27,9000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
484939,0.0000,22000.0,22000.0,707.41,9.76,8178.16,22000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
559827,0.0000,9000.0,9000.0,281.58,7.89,2213.23,9000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1114188,0.0000,22800.0,22800.0,751.53,11.47,18018.49,22800.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
936654,245.7774,15000.0,15000.0,498.15,11.99,498.15,15000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
230281,148.6134,7550.0,7550.0,190.00,17.58,190.00,7550.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,1,0
528445,0.0000,6000.0,6000.0,188.52,8.18,188.39,6000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
749951,0.0000,6000.0,6000.0,200.12,12.29,0.52,6000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
214734,0.0000,12000.0,11975.0,399.26,12.12,3459.83,12000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
425226,0.0000,17775.0,17775.0,505.49,23.43,8933.04,17775.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,1,0
1014381,0.0000,6500.0,6500.0,212.13,10.78,5803.68,6500.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
424980,0.0000,5000.0,5000.0,174.09,15.31,1207.62,5000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
565583,180.3600,6000.0,6000.0,185.98,7.26,185.98,6000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
935940,0.0000,5000.0,5000.0,159.38,9.16,1247.91,5000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
1516540,0.0000,12600.0,12600.0,390.44,7.24,7105.92,12600.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
596033,0.0000,12000.0,12000.0,268.70,12.29,11738.80,12000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,1,0
699225,0.0000,35000.0,35000.0,1099.69,8.18,11719.04,35000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
2018297,0.0000,2500.0,2500.0,81.92,11.06,2532.04,2500.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
915005,0.0000,5000.0,5000.0,154.32,6.97,2081.11,5000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
260039,0.0000,4000.0,4000.0,128.12,9.49,633.53,4000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367242,0.0000,2000.0,2000.0,66.12,11.67,50.51,2000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
148873,0.0000,35000.0,35000.0,1336.31,21.98,2257.66,35000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
542860,0.0000,12600.0,12500.0,439.32,15.41,8494.52,12600.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
1517303,0.0000,12000.0,12000.0,421.83,15.99,8834.08,12000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
847126,0.0000,18000.0,17900.0,555.71,6.99,11567.40,18000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1856668,0.0000,9000.0,9000.0,316.51,16.02,8569.93,9000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
1232604,0.0000,35000.0,35000.0,1282.79,18.99,29439.34,35000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
423515,0.0000,15000.0,15000.0,388.45,18.92,13931.40,15000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,1,0
1129201,0.0000,5500.0,5500.0,196.07,16.99,3746.14,5500.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
1460205,0.0000,7000.0,7000.0,234.58,12.62,7026.99,7000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
679554,0.0000,12000.0,12000.0,400.24,12.29,1479.22,12000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
345364,0.0000,10000.0,10000.0,309.32,7.12,689.96,10000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
261445,0.0000,8000.0,8000.0,265.68,11.99,6130.93,8000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
59582,0.0000,10000.0,10000.0,332.10,11.99,6620.06,10000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
322844,0.0000,8000.0,8000.0,269.52,12.99,2088.51,8000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1081969,0.0000,5000.0,5000.0,160.75,9.75,2081.49,5000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
90965,0.0000,16000.0,16000.0,514.10,9.71,514.10,16000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1523432,0.0000,15200.0,15200.0,426.23,22.74,176.87,15200.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,0,1
1399613,0.0000,35000.0,35000.0,1247.68,16.99,24890.76,35000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
546794,0.0000,23000.0,23000.0,587.19,18.25,15109.81,23000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,0,0
1038352,0.0000,14000.0,14000.0,302.66,10.75,13490.38,14000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,0,0
1403333,0.0000,16000.0,16000.0,481.84,5.32,9718.85,16000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
1664025,0.0000,10000.0,10000.0,326.97,10.91,5787.24,10000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
356308,0.0000,13200.0,13200.0,436.36,11.67,509.94,13200.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
231861,0.0000,20000.0,20000.0,448.85,12.39,19588.68,20000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,1,0
1859417,67.0122,2800.0,2800.0,93.84,12.62,93.84,2800.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
1205343,0.0000,24000.0,24000.0,806.23,12.79,15963.40,24000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
356585,331.7796,13150.0,13150.0,341.05,18.99,341.05,13150.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,0,1
185377,0.0000,9800.0,9775.0,306.65,7.90,7362.73,9800.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
1372881,0.0000,18000.0,18000.0,623.89,14.99,623.89,18000.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0

# SHALLOW NN:

In [0]:

my_model = Sequential()
my_model.add(Dense(150, input_dim=134, activation='sigmoid'))
my_model.add(Dense(150,  activation='sigmoid'))
my_model.add(Dense(150,  activation='sigmoid'))
my_model.add(Dense(150,  activation='sigmoid'))
my_model.add(Dense(1, activation='softmax')) #when i one hot encode the answer key - u need output nueron number to be 2 not 1

my_model.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy']) #need to one hot encode the answer key cus im a dumb dumb

In [0]:
scores = my_model.evaluate(X_train, y_train, verbose=0)
print("Accuracy on training data: %.2f%%" % (scores[1]*100))

scores = my_model.evaluate(X_test, y_test, verbose=0)
print("Accuracy on test data: %.2f%%" % (scores[1]*100))

y_pred = my_model.predict(X_train)

from sklearn.metrics import confusion_matrix
confusion_matrix(y_train, y_pred)

#model is never predicting that the person will not pay

Accuracy on training data: 79.98%
Accuracy on test data: 79.83%

array([[     0, 161098],
       [     0, 643605]])

#BASIC CNN:

In [0]:
x_conv = np.expand_dims(x, axis=2) #need to reshape for CONV ONLY
print(x_conv.shape)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_conv, y, test_size=0.33, random_state=42)

seed = 45
np.random.seed(seed)

(1201050, 134, 1)

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Conv1D, Flatten
#create model
CNNmodel = Sequential()
#add model layers
CNNmodel.add(Conv1D(64, kernel_size=2, activation='relu', input_shape=(134,1)))
CNNmodel.add(Conv1D(32, kernel_size=2, activation='relu'))
CNNmodel.add(Flatten())
CNNmodel.add(Dense(1, activation='softmax'))

CNNmodel.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy'])

In [0]:
scores = CNNmodel.evaluate(X_train, y_train, verbose=0)
print("Accuracy on training data: %.2f%%" % (scores[1]*100))

scores = CNNmodel.evaluate(X_test, y_test, verbose=0)
print("Accuracy on test data: %.2f%%" % (scores[1]*100))

y_predCNN = CNNmodel.predict(X_train)
confusion_matrix(y_train, y_predCNN)

Accuracy on training data: 79.98%
Accuracy on test data: 79.83%

array([[     0, 161098],
       [     0, 643605]])

#Naive Bayes Classifier
##Gaussian Distribution
###Continuous variables


*   We can also test multinomial and bernoulli models from scikit-learn just to see how they perform for kicks and giggles
*   https://www.youtube.com/watch?v=r1in0YNetG8
  *  the above is a video for gaussian naive bayes
  * use pdf (probability density function) (can google the equation)

In [0]:
x_Naive = pd.concat([x, y], axis=1)
#x_Naive = x_Naive.drop(x_Naive[x_Naive.loan_status.eq(1)].sample(frac=.80).index)
#x_Naive = x_Naive.drop(x_Naive.sample(frac=.90).index)
y_Naive = x_Naive['loan_status'].copy()
x_Naive.drop(columns=['loan_status'], inplace=True) 
x_Naive.shape

(1201050, 134)

In [0]:
#need a function to find class_size
def class_sizeFinder(df, Class):
  return(df[Class].size)

#need function to determine mean of each class
#for Class you need to pass in a df indexed into the class in a way that can be indexed into each individual feature
def mean(df, Class):
  return(df[Class].mean())
  

#need function to determine variance of each class
def stand_dev(df, Class):
  return(df[Class].std())

#need probability density function

In [0]:
#split into train/test set
X_train, X_test, y_train, y_test = train_test_split(x_Naive, y_Naive, test_size=0.33, random_state=42)

In [0]:
#split all instances with paid vs defaulted loans

x_one = pd.DataFrame()
x_zero = pd.DataFrame()

k = 0
for i in y_train:
  if i == 1:
    x_one = x_one.append(X_train[k:k+1])
  if i ==0:
    x_zero = x_zero.append(X_train[k:k+1])
  k+=1

In [0]:
prior_zero = len(x_zero)/len(X_train)
prior_one = len(x_one)/len(X_train)

In [0]:
#verify that the splitting was accurate
print(x_one.shape)
print(x_zero.shape)
print(x_one.shape[0]+x_zero.shape[0])
y_train.size

In [0]:
#calculate mean/variance for both classes
mean_one = []
mean_zero = []
std_one = []
std_zero = []

for i in x_zero:
  mean_one.append(mean(x_one, i))
  mean_zero.append(mean(x_zero, i))
  std_one.append(stand_dev(x_one, i))
  std_zero.append(stand_dev(x_one,i))

In [0]:
#probability density function
import math

def pdf(feature, mean, std):
  a = 1/math.sqrt(2*math.pi*std**2 + 0.000000001)*math.exp(-1/2*((feature-mean)/(std**2 + 0.0001))**2)
  return a

In [0]:
#calculate predictions for class 1 for test set
test_classOnePred = []
for r in range(len(X_test)): #itterates thru rows
  prob = 1
  for i, k in enumerate(x_one):              #itterates thru classes
    prob = prob * pdf(X_test.iloc[r, i],mean_one[i],std_one[i])
  test_classOnePred.append(prob) 


#calculate predition for class 2 for test set
test_classZeroPred = []
for r in range(len(X_test)): #itterates thru rows
  prob = 1
  for i, k in enumerate(x_one):              #itterates thru classes
    prob = prob * pdf(X_test.iloc[r, i],mean_zero[i],std_zero[i])
  test_classZeroPred.append(prob)

In [0]:
#Naive Bayes theorm!!! - values are so small so maybe use Variance instead of STD
# p(a|x)= p(x|a)p(a)/ (p(x|a)p(a)+p(x|c)p(c))

for i in range(len(test_classOnePred)):
  test_classOnePred[i] = test_classOnePred[i]*prior_one/(test_classOnePred[i]*prior_one+test_classZeroPred[i]*prior_zero+.000000000001)

for i in range(len(test_classOnePred)):
  test_classZeroPred[i] = test_classZeroPred[i]*prior_zero/(test_classOnePred[i]*prior_one+test_classZeroPred[i]*prior_zero+.000000000001)

#append correct predictions into a final prediction list

#compare predictions vs actual labels, calculate error

In [0]:
errorSum = 0

for i in range(len(test_classOnePred)):
  if test_classOnePred[i] > 0.5:
    test_classOnePred[i] = 1
    
for i, k in enumerate(y_test):
  if test_classOnePred[i] == y_test.iloc[k]:
    errorSum += 1
    
print(errorSum/ len(test_classOnePred) * 100)

In [0]:
for i, k in enumerate(y_test):
  if test_classZeroPred[i] == y_test.iloc[k]:
    errorSum += 1
    
print(errorSum/ len(test_classOnePred) * 100)

In [0]:
prior_one
prior_zero