<a href="https://colab.research.google.com/github/msakarvadia/Machine-Learning/blob/master/LC_LoanDefaultRatePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.utils import np_utils
from sklearn.preprocessing import OneHotEncoder

In [57]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [58]:
#!pwd
%cd drive/My\ Drive
%cd Colab\ Notebooks
%cd Loan\ Project
# we are in the "Loan Project directory" - if there is an issue use "%cd ... to reenter directory"
#!ls
#!cat LoanStats3a_securev1_LendingClub_07-11.csv

[Errno 2] No such file or directory: 'drive/My Drive'
/content/drive/My Drive/Colab Notebooks/Loan Project
[Errno 2] No such file or directory: 'Colab Notebooks'
/content/drive/My Drive/Colab Notebooks/Loan Project
[Errno 2] No such file or directory: 'Loan Project'
/content/drive/My Drive/Colab Notebooks/Loan Project

In [59]:
#data is from Lending Club - I have renamed csv files
df_07_11 = pd.read_csv('LoanStats3a_securev1_LendingClub_07-11.csv', sep=",", skiprows=1)
df_12_13 = pd.read_csv('LoanStats3b_securev1_LendingClub_12-13.csv', sep=",", skiprows=1)
df_14 = pd.read_csv("LoanStats3c_LendingClub_2014.csv", sep=",", skiprows=1)
df_15 = pd.read_csv('LoanStats3d_LendingClub_2015.csv', sep=",", skiprows=1)
df_16Q1 = pd.read_csv('LoanStats_LendingClub_2016Q1.csv', sep=",", skiprows=1)
df_16Q2 = pd.read_csv('LoanStats_LendingClub_2016Q2.csv', sep=",", skiprows=1)
df_16Q3 = pd.read_csv('LoanStats_LendingClub_2016Q3.csv', sep=",", skiprows=1)
df_16Q4 = pd.read_csv('LoanStats_LendingClub_2016Q4.csv', sep=",", skiprows=1)
df_17Q1 = pd.read_csv('LoanStats_LendingClub_2017Q1.csv', sep=",", skiprows=1)
df_17Q2 = pd.read_csv('LoanStats_LendingClub_2017Q2.csv', sep=",", skiprows=1)
df_17Q3 = pd.read_csv('LoanStats_LendingClub_2017Q3.csv', sep=",", skiprows=1)
df_17Q4 = pd.read_csv('LoanStats_LendingClub_2017Q4.csv', sep=",", skiprows=1)
df_18Q1 = pd.read_csv('LoanStats_LendingClub_2018Q1.csv', sep=",", skiprows=1)
df_18Q2 = pd.read_csv('LoanStats_LendingClub_2018Q2.csv', sep=",", skiprows=1)
df_18Q3 = pd.read_csv('LoanStats_LendingClub_2018Q3.csv', sep=",", skiprows=1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,49,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,112) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
frames = [df_07_11, df_12_13, df_14, df_15, df_16Q1, df_16Q2, df_16Q3, df_16Q4, df_17Q1, df_17Q2, df_17Q3, df_17Q4, df_18Q1,df_18Q2,df_18Q3]

result = pd.concat(frames, ignore_index=True)

In [61]:
result.shape

(2132287, 151)

In [62]:
result.drop(columns=['id', 'member_id','url','zip_code'], inplace=True)
result.shape

(2132287, 147)

In [63]:
#"loan_status" is the column heading of whether it defulted or not
x = result.copy()
#labels = df.loc[:,"loan_status"]
y = result['loan_status'].copy()
y.shape[0]

2132287

In [64]:
label = []
for i in range(y.shape[0]):
  if y[i] not in label:
    label.append(y[i])

for i in range(len(label)):
  print(label[i])
  
print("There are", len(label), "labels")

Fully Paid
Charged Off
nan
Does not meet the credit policy. Status:Fully Paid
Does not meet the credit policy. Status:Charged Off
Late (31-120 days)
Current
Late (16-30 days)
In Grace Period
Default
There are 10 labels

##NOTES about loan_status (aka. labels):


*   if label is "nan" - we throw that loan out of the training set
*   Current means that the loan is still being paid off, and therefore we cannot use for out training - might be useful to comeback and revisit in the future (maybe predict outcome now) - will be thrown out of training set
*   fully paid  - successful loan


---


*   what is "charged off" vs "default"
 *   "Loans that are in "Default" are loans for which borrowers have failed to make payments for an extended period of time. A loan becomes “Charged Off” when there is no longer a reasonable expectation of further payments.  Charge Off typically occurs when a loan is 120 days or more past due and there is no reasonable expectation of sufficient payment to prevent the charge off.  In certain circumstances, loans may be charged off at an earlier or later date.  Please note, loans for which borrowers have filed for bankruptcy may be charged off earlier based on the date of bankruptcy notification.
 A loan that is in “Default” will still appear in your Notes, in the status of “Default,” while a loan that has been “Charged Off” will appear as charged off, and the remaining principal balance of the Note will be deducted from your account balance.  Learn more about what happens when a loan is charged off"
 *   Because in the case of "charged off" vs "default" the lender has extremely low chance of recovering their investment, we will treat both of these classifications as if they are the same thing

---


*   what does it mean if it "does not meet the credit policy"
 *   Lending Club doesn't make clear the meaning of this statement, but from general internet research most ppl just ommit the "does not meet the credit policy" part and use the second half of the classification
---
*   what does "grace period" mean - should we potentially throw those away?
 * Loan is past due but within the 15-day grace period. - we will throw these away because for training data it isn't useful since the final status of loan isn't avaliable
*   if its late - does that mean status is still being finalized? - should we throw away?
 * if it is late we don't use this loan in training set cus finalized status isn't avalible to confirm predictions

In [65]:
result = result[~result['loan_status'].isin(['Late (31-120 days)', 'Current', 'Late (16-30 days)', 'In Grace Period'])]
# above gets rid of rows that have loan status' that we don't want to consider
result = result[~result['loan_status'].isna()] 

#make labels binary
pay_status = {'Fully Paid': 1, 'Charged Off': 0, 'Does not meet the credit policy. Status:Fully Paid':1, 'Does not meet the credit policy. Status:Charged Off':0, 'Default':0}
result.loan_status = [pay_status[item] for item in result.loan_status]

# above gets rid of rows that don't have a valid loan status
result.shape

(1201050, 147)

In [66]:
#"loan_status" is the column heading of whether it defulted or not
x = result.copy()
#labels = df.loc[:,"loan_status"]
y = result['loan_status'].copy()
#get rid of labels from test set
x.drop(columns=['loan_status'], inplace=True) 

#for now, we are gonna drop all columns that have even one NAN value - this signifigantly reduces training data (so its something we want to comeback and deal with later)
x.dropna(axis='columns', inplace=True)
print(list(x))

#y #can print out labels
x.shape
y

['addr_state', 'application_type', 'collection_recovery_fee', 'debt_settlement_flag', 'disbursement_method', 'funded_amnt', 'funded_amnt_inv', 'grade', 'hardship_flag', 'home_ownership', 'initial_list_status', 'installment', 'int_rate', 'issue_d', 'last_pymnt_amnt', 'loan_amnt', 'out_prncp', 'out_prncp_inv', 'policy_code', 'purpose', 'pymnt_plan', 'recoveries', 'revol_bal', 'sub_grade', 'term', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'verification_status']

0          1
1          0
2          1
3          1
4          1
5          1
6          1
7          1
8          0
9          0
10         1
11         1
12         0
13         1
14         0
15         1
16         1
17         1
18         1
19         1
20         1
21         0
22         1
23         1
24         0
25         1
26         0
27         0
28         1
29         1
          ..
2131612    1
2131662    1
2131668    1
2131674    1
2131677    1
2131678    1
2131686    1
2131687    1
2131738    1
2131818    1
2131825    1
2131828    1
2131854    1
2131883    1
2131898    1
2131911    1
2131952    1
2132045    1
2132053    1
2132071    1
2132079    1
2132108    1
2132113    1
2132131    1
2132132    1
2132180    1
2132186    1
2132188    1
2132213    1
2132273    1
Name: loan_status, Length: 1201050, dtype: int64

In [0]:
#y = np_utils.to_categorical(y)

In [68]:
print(y[13])
y.shape

1

(1201050,)

In [0]:
x['term'] = x['term'].map(lambda x: x.lstrip('%').rstrip('months'))
x['int_rate'] = x["int_rate"].map(lambda x: x.rstrip("%"))
#x['revol_util'] = x['revol_util'].str.replace('%', '') #format changes bc column as floats and ints, also has NaN values, so it was removed above
#print(x["revol_util"])

In [70]:
#dropping non numerical columns for non - will/should come back a one hot encode categorical columns
x = x.select_dtypes(['number'])
x

,collection_recovery_fee,funded_amnt,funded_amnt_inv,installment,last_pymnt_amnt,loan_amnt,out_prncp,out_prncp_inv,policy_code,recoveries,revol_bal,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp
0,0.0000,5000.0,4975.000000,162.87,171.62,5000.0,0.0,0.0,1.0,0.00,13648.0,5863.155187,5833.84,863.16,0.00,5000.00
1,1.1100,2500.0,2500.000000,59.83,119.66,2500.0,0.0,0.0,1.0,122.90,1687.0,1014.530000,1014.53,435.17,0.00,456.46
2,0.0000,2400.0,2400.000000,84.33,649.91,2400.0,0.0,0.0,1.0,0.00,2956.0,3005.666844,3005.67,605.67,0.00,2400.00
3,0.0000,10000.0,10000.000000,339.31,357.48,10000.0,0.0,0.0,1.0,0.00,5598.0,12231.890000,12231.89,2214.92,16.97,10000.00
4,0.0000,3000.0,3000.000000,67.79,67.30,3000.0,0.0,0.0,1.0,0.00,27783.0,4066.908161,4066.91,1066.91,0.00,3000.00
5,0.0000,5000.0,5000.000000,156.46,161.03,5000.0,0.0,0.0,1.0,0.00,7963.0,5632.210000,5632.21,632.21,0.00,5000.00
6,0.0000,7000.0,7000.000000,170.08,1313.76,7000.0,0.0,0.0,1.0,0.00,17726.0,10137.840008,10137.84,3137.84,0.00,7000.00
7,0.0000,3000.0,3000.000000,109.43,111.34,3000.0,0.0,0.0,1.0,0.00,8221.0,3939.135294,3939.14,939.14,0.00,3000.00
8,2.0900,5600.0,5600.000000,152.39,152.39,5600.0,0.0,0.0,1.0,190.54,5210.0,647.500000,647.50,294.94,0.00,162.02
9,2.5200,5375.0,5350.000000,121.45,121.45,5375.0,0.0,0.0,1.0,277.69,9279.0,1484.590000,1477.70,533.42,0.00,673.48
10,0.0000,6500.0,6500.000000,153.45,1655.54,6500.0,0.0,0.0,1.0,0.00,4032.0,7678.017673,7678.02,1178.02,0.00,6500.00
11,0.0000,12000.0,12000.000000,402.54,6315.30,12000.0,0.0,0.0,1.0,0.00,23336.0,13947.989155,13947.99,1947.99,0.00,12000.00
12,4.1600,9000.0,9000.000000,305.38,305.38,9000.0,0.0,0.0,1.0,450.92,10452.0,2277.320000,2277.32,570.26,0.00,1256.14
13,0.0000,3000.0,3000.000000,96.68,102.43,3000.0,0.0,0.0,1.0,0.00,7323.0,3480.269999,3480.27,480.27,0.00,3000.00
14,6.3145,10000.0,10000.000000,325.74,325.74,10000.0,0.0,0.0,1.0,645.10,11997.0,7471.990000,7471.99,1393.42,0.00,5433.47
15,0.0000,1000.0,1000.000000,35.31,36.32,1000.0,0.0,0.0,1.0,0.00,6524.0,1270.716942,1270.72,270.72,0.00,1000.00
16,0.0000,10000.0,10000.000000,347.98,370.46,10000.0,0.0,0.0,1.0,0.00,24043.0,12527.150000,12527.15,2527.15,0.00,10000.00
17,0.0000,3600.0,3600.000000,109.57,583.45,3600.0,0.0,0.0,1.0,0.00,22836.0,3785.271965,3785.27,185.27,0.00,3600.00
18,0.0000,6000.0,6000.000000,198.46,16.98,6000.0,0.0,0.0,1.0,0.00,0.0,7167.072893,7167.07,1152.07,15.00,6000.00
19,0.0000,9200.0,9200.000000,280.01,8061.10,9200.0,0.0,0.0,1.0,0.00,7314.0,9460.000848,9460.00,260.00,0.00,9200.00
20,0.0000,20250.0,19142.161077,484.63,6024.09,20250.0,0.0,0.0,1.0,0.00,17813.0,27679.049997,25433.60,7429.05,0.00,20250.00
21,0.0000,21000.0,21000.000000,701.73,701.73,21000.0,0.0,0.0,1.0,9.20,32135.0,14034.600000,14034.60,3330.44,0.00,10694.96
22,0.0000,10000.0,10000.000000,330.76,349.21,10000.0,0.0,0.0,1.0,0.00,10056.0,11907.350000,11907.35,1907.35,0.00,10000.00
23,0.0000,10000.0,10000.000000,330.76,4942.63,10000.0,0.0,0.0,1.0,0.00,17800.0,11540.891977,11540.89,1540.89,0.00,10000.00
24,2.5700,6000.0,6000.000000,198.46,198.46,6000.0,0.0,0.0,1.0,275.02,5963.0,2055.850000,2055.85,475.25,0.00,1305.58
25,0.0000,15000.0,15000.000000,483.38,2447.05,15000.0,0.0,0.0,1.0,0.00,13707.0,15823.999049,15824.00,824.00,0.00,15000.00
26,0.0000,15000.0,8725.000000,514.64,0.00,15000.0,0.0,0.0,1.0,0.00,5872.0,0.000000,0.00,0.00,0.00,0.00
27,2.3000,5000.0,5000.000000,123.65,123.65,5000.0,0.0,0.0,1.0,263.00,4345.0,1611.160000,1611.16,719.11,0.00,629.05
28,0.0000,4000.0,4000.000000,132.31,2638.77,4000.0,0.0,0.0,1.0,0.00,6110.0,4486.293519,4486.29,486.29,0.00,4000.00
29,0.0000,8500.0,8500.000000,281.15,581.59,8500.0,0.0,0.0,1.0,0.00,6441.0,10126.088441,10126.09,1626.09,0.00,8500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2131612,0.0000,10000.0,10000.000000,223.11,9984.43,10000.0,0.0,0.0,1.0,0.00,0.0,10197.433644,10197.43,197.43,0.00,10000.00
2131662,0.0000,10000.0,10000.000000,332.77,9696.44,10000.0,0.0,0.0,1.0,0.00,3098.0,10395.683330,10395.68,395.68,0.00,10000.00
2131668,0.0000,19000.0,19000.000000,361.26,18582.29,19000.0,0.0,0.0,1.0,0.00,19795.0,19296.395286,19296.40,296.40,0.00,19000.00
2131674,0.0000,20000.0,20000.000000,465.68,20263.48,20000.0,0.0,0.0,1.0,0.00,8492.0,20240.095011,20240.10,240.10,0.00,20000.00
2131677,0.0000,8000.0,8000.000000,266.22,8045.82,8000.0,0.0,0.0,1.0,0.00,4079.0,8037.734444,8037.73,37.73,0.00,8000.00
2131678,0.0000,35000.0,35000.000000,934.90,412.25,35000.0,0.0,0.0,1.0,0.00,8663.0,35947.487870,35947.49,947.49,0.00,35000.00
2131686,0.0000,11000.0,11000.000000,355.31,10639.59,11000.0,0.0,0.0,1.0,0.00,13692.0,11365.005159,11365.01,365.01,0.00,11000.00
2131687,0.0000,8000.0,8000.000000,266.22,8154.59,8000.0,0.0,0.0,1.0,0.00,26924.0,8146.503516,8146.50,146.50,0.00,8000.00
2131738,0.0000,3225.0,3225.000000,101.18,19.76,3225.0,0.0,0.0,1.0,0.00,13839.0,3264.312940,3264.31,39.31,0.00,3225.00
2131818,0.0000,7400.0,7400.000000,237.33,7484.06,7400.0,0.0,0.0,1.0,0.00,6482.0,7478.149898,7478.15,78.15,0.00,7400.00
2131825,0.0000,3500.0,3500.000000,107.80,1.25,3500.0,0.0,0.0,1.0,0.00,2136.0,3527.196433,3527.20,27.20,0.00,3500.00
2131828,0.0000,5000.0,5000.000000,155.44,4653.35,5000.0,0.0,0.0,1.0,0.00,37243.0,5129.699948,5129.70,129.70,0.00,5000.00
2131854,0.0000,23000.0,23000.000000,859.34,2145.58,23000.0,0.0,0.0,1.0,0.00,9589.0,23874.947256,23874.95,874.95,0.00,23000.00
2131883,0.0000,24375.0,24375.000000,822.00,24830.38,24375.0,0.0,0.0,1.0,0.00,0.0,24803.847601,24803.85,428.85,0.00,24375.00
2131898,0.0000,9000.0,9000.000000,303.51,8727.57,9000.0,0.0,0.0,1.0,0.00,743.0,9324.793609,9324.79,324.79,0.00,9000.00
2131911,0.0000,10000.0,10000.000000,337.23,10029.02,10000.0,0.0,0.0,1.0,0.00,5330.0,10018.142222,10018.14,18.14,0.00,10000.00
2131952,0.0000,28000.0,27750.000000,910.87,27593.09,28000.0,0.0,0.0,1.0,0.00,22500.0,28586.097346,28330.86,586.10,0.00,28000.00
2132045,0.0000,10000.0,10000.000000,358.88,9824.16,10000.0,0.0,0.0,1.0,0.00,1658.0,10308.482266,10308.48,308.48,0.00,10000.00
2132053,0.0000,25000.0,25000.000000,860.77,24901.19,25000.0,0.0,0.0,1.0,0.00,19420.0,25731.709540,25731.71,731.71,0.00,25000.00
2132071,0.0000,25000.0,25000.000000,966.45,24574.81,25000.0,0.0,0.0,1.0,0.00,23415.0,26507.710583,26507.71,1507.71,0.00,25000.00
2132079,0.0000,20000.0,20000.000000,707.70,128.12,20000.0,0.0,0.0,1.0,0.00,18100.0,21033.804661,21033.80,1033.80,0.00,20000.00
2132108,0.0000,20000.0,20000.000000,683.85,18929.85,20000.0,0.0,0.0,1.0,0.00,11924.0,20950.223597,20950.22,950.22,0.00,20000.00
2132113,0.0000,10000.0,10000.000000,349.06,12.33,10000.0,0.0,0.0,1.0,0.00,5263.0,10422.101700,10422.10,422.10,0.00,10000.00
2132131,0.0000,10000.0,10000.000000,349.06,9684.69,10000.0,0.0,0.0,1.0,0.00,11626.0,10369.897004,10369.90,369.90,0.00,10000.00
2132132,0.0000,15000.0,14975.000000,538.31,203.82,15000.0,0.0,0.0,1.0,0.00,11994.0,15181.976669,15156.67,181.98,0.00,15000.00
2132180,0.0000,40000.0,40000.000000,1254.94,9195.86,40000.0,0.0,0.0,1.0,0.00,4839.0,40433.753437,40433.75,433.75,0.00,40000.00
2132186,0.0000,35000.0,34975.000000,1196.73,35058.65,35000.0,0.0,0.0,1.0,0.00,267.0,35017.733195,34992.72,17.73,0.00,35000.00
2132188,0.0000,15000.0,15000.000000,523.59,14526.88,15000.0,0.0,0.0,1.0,0.00,18456.0,15554.704844,15554.70,554.70,0.00,15000.00
2132213,0.0000,12750.0,12750.000000,499.35,12874.87,12750.0,0.0,0.0,1.0,0.00,11360.0,13348.862252,13348.86,598.86,0.00,12750.00
2132273,0.0000,10000.0,10000.000000,332.77,9873.48,10000.0,0.0,0.0,1.0,0.00,0.0,10196.139749,10196.14,196.14,0.00,10000.00

In [71]:
print(list(x))
x.shape

['collection_recovery_fee', 'funded_amnt', 'funded_amnt_inv', 'installment', 'last_pymnt_amnt', 'loan_amnt', 'out_prncp', 'out_prncp_inv', 'policy_code', 'recoveries', 'revol_bal', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp']

(1201050, 16)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

seed = 45
np.random.seed(seed)

In [0]:

my_model = Sequential()
my_model.add(Dense(150, input_dim=16, activation='relu'))
my_model.add(Dense(150,  activation='relu'))
my_model.add(Dense(150,  activation='relu'))
my_model.add(Dense(150,  activation='relu'))
my_model.add(Dense(1, activation='softmax')) #when i one hot encode the answer key - u need output nueron number to be 2 not 1

my_model.compile(loss='sparse_categorical_crossentropy', optimizer='sgd', metrics=['accuracy']) #need to one hot encode the answer key cus im a dumb dumb

In [80]:
scores = my_model.evaluate(X_train, y_train, verbose=0)
print("Accuracy on training data: %.2f%%" % (scores[1]*100))

scores = my_model.evaluate(X_test, y_test, verbose=0)
print("Accuracy on test data: %.2f%%" % (scores[1]*100))

Accuracy on training data: 79.92%
Accuracy on test data: 79.95%

In [0]:
y_pred = my_model.predict(X_train)

In [85]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train, y_pred)

#model is never predicting that the person will not pay

array([[     0, 161562],
       [     0, 643141]])